<div class="col-md-12 col-sm-12 col-xs-12 ">
  <mat-card [formGroup]="sectionGroup">
    
      <div class="col-sm-offset-10 pull-right">
        <span class="pull-right material-more-menu-btn" 
              mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </span>
         <mat-menu #menu="matMenu">
            <button (click)="removed.emit()" mat-menu-item>
              <mat-icon>delete</mat-icon>
               Delete Section 
            </button>
         </mat-menu>
      </div>
      <input type="hidden" 
             formControlName="key"
             [(ngModel)]="section.key">
       <div class="material-form-group">
         <mat-form-field class="material-input-full-width">
              <!-- placeholder="e2e-form-name-{{index}}" -->
              <input matInput 
                     id="e2e-form-name-{{index}}"
                     placeholder="Section"
                     formControlName="name"
                     [(ngModel)]="section.name">
          </mat-form-field>
       </div>

          <!--<div class="col-sm-1">
            <ul class="nav navbar-right panel_toolbox">
              <li class="dropdown">
                <a href="#" 
                   class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   role="button" 
                   aria-expanded="false">
                  <i class="fa fa-2x fa-ellipsis-v pull-right"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                        <a (click)="removed.emit()"> 
                          Delete Section
                        </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div> -->
          <!--end of delete button-->
    <mat-card-header >
       <mat-card-title>
      </mat-card-title>
    </mat-card-header>
      <question-content-array 
              [parentForm]="sectionGroup"
              [sectionIndex]="index"
              [questions]="section?.questions"
              [viewState]="viewState"  >
      </question-content-array>
  </mat-card>
  <br/>
  <br/>
<!--
<div [formGroup]="sectionGroup">
    <div class="panel-heading">
      <div class="row">

        [>start create viewstate<]
        <div *ngIf="viewState =='create' || viewState=='preview'">
          <div class="col-sm-11">
            <input type="hidden" class="form-control"
                   formControlName="key">
           <div class="material-form-group">
             <mat-form-field class="material-input-full-width">
                  <input matInput 
                         placeholder="Section Name"
                         formControlName="name">
              </mat-form-field>
            </div>
          </div>

          <div class="col-sm-1">
            <ul class="nav navbar-right panel_toolbox">
              <li class="dropdown">
                <a href="#" 
                   class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   role="button" 
                   aria-expanded="false">
                  <i class="fa fa-2x fa-ellipsis-v pull-right"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                        <a (click)="removed.emit()"> 
                          Delete Section
                        </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div> [>end of delete button<]
      </div>
      [>end create viewState<]

      </div>
  </div>
  [>end panel-heading<]
  <div class="x_content">
      <question-content-array 
              [parentForm]="sectionGroup"
              [questions]="section?.questions"
              [viewState]="viewState"  >
      </question-content-array>
  </div>
</div>
-->
</div>
