<div id="page-content"
     class="col-md-offset-3 col-md-9">
  <header class="app-header row">
    <div class="app-header--primary">
      
      <div class="app-header--context">
	<div class="app-header--breadcrumbs">
	  <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
	    <li>
	      <a [routerLink]="['/admin/roles']">Administration</a>
	    </li>
	    <li>
	      <a [routerLink]="['/admin/roles/list']">Role List</a>
	    </li>
	    <li>
	      <a [routerLink]="['/admin/roles/create']">Create</a>
	    </li>
	  </ol>
	</div>
	<h1 class="app-header--heading">
	  Roles
	</h1>
      </div>
    </div>  
    <div class="app-header--secondary">
    </div>
  </header>


  <div class="row" id="page-body">

    <div class="col-md-12 table-nav">
      <div class="col-sm-3 reset-wrapper">
	<button class="btn btn-default pull-left">
	  <i class="fa fa-refresh"></i> &nbsp; Reset
	</button>
      </div>
      
      <div class="col-sm-6">
	<div class="alert alert-danger"
	     [hidden]="!has_errors">
	  <strong>
	    <i class="fa fa-warning"></i> Unable to process your request.
	  </strong>
	  <em>Please see details below: </em>
	</div>
      </div>

      <div class="col-sm-3 save-wrapper">
	<button class="btn btn-success pull-right"
		[disabled]="!roleCreateForm.form.valid || is_processing"
		(click)="onSaveClick(new_role)">
	  <i class="fa fa-save"></i> &nbsp; Save
	</button>
      </div>
    </div>

    <!-- Role Name -->
    <div class="col-md-12 col-sm-12 col-xs-12"> 
      <div class="x_panel">
	<div class="x_content">
	  <br>
	  <form data-parsley-validate=""
		class="form-horizontal form-label-left"
		#roleCreateForm="ngForm" novalidate>
	    <div class="row">
	    </div>
	    
	    <div class="form-group"
		 [ngClass]="{'has-error': errors?.name || 
			    (input_name.errors && (input_name.dirty || input_name.touched)) }">
	      <label class="control-label col-md-3 col-sm-3 col-xs-12"
		     for="rolename">
		Role Name
		<span class="required">*</span>
	      </label>
	      <div class="col-md-6 col-sm-6 col-xs-12">
		<input type="text" id="rolename" required="required"
		       [(ngModel)]="new_role.name"
		       #input_name="ngModel" name="input_name"
		       class="form-control col-md-7 col-xs-12">
		<div class="help-block"
		     *ngIf="errors?.name">
		  <span *ngIf="errors?.name">
		    {{errors?.name}}
		  </span>
		</div> <!-- help-block -->
		<div class="help-block"
		     *ngIf="(input_name.errors && (input_name.dirty || input_name.touched))">
		  <span  [hidden]="!(input_name.errors.required)">
		    Name is required
		  </span>
		</div>		
	      </div>
	    </div>

	    <div class="form-group"
		 [ngClass]="{'has-error': errors?.name || 
			    (input_description.errors && (input_description.dirty || input_description.touched)) }">
	      <label class="control-label col-md-3 col-sm-3 col-xs-12"
		     for="roledescription">
		Description
		<span class="required">*</span>
	      </label>
	      <div class="col-md-6 col-sm-6 col-xs-12">
		<input type="text" id="roledescription" required="required"
		       [(ngModel)]="new_role.description"
		       #input_description="ngModel" name="input_description"
		       name="description"
		       class="form-control col-md-7 col-xs-12">
		<div class="help-block"
		     *ngIf="(input_description.errors && (input_description.dirty || input_description.touched))">
		  <span  [hidden]="!(input_description.errors.required)">
		    Description is required
		  </span>
		</div>
	      </div>
	    </div>
	    
	    <div class="form-group">
	      <label class="control-label col-md-3 col-sm-3 col-xs-12"
		     for="status">
		Status
		<span class="required">*</span>
	      </label>
	      <div class="col-md-6 col-sm-6 col-xs-12">
		<label>
		  <input type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="background-color: rgb(38, 185, 154); border-color: rgb(38, 185, 154); box-shadow: rgb(38, 185, 154) 0px 0px 0px 11px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;"><small style="left: 12px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;"></small></span> Active
		</label>
	      </div>
	    </div>
	    
	  </form>
	</div>
      </div>      
    </div> <!-- Role Name -->

      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
	  <div class="x_title">
	    <h2>Permissions</h2>
	    <small class="pull-right">Check permissions for role</small>
	    <div class="clearfix"></div>
	  </div>
	  <div class="x_content">
	    <table class="table table-hover">
	      <thead>
		<tr>
		  <th style="">Module</th>
		  <th style="width: 60%;">Permission</th>
		  <th>Allow</th>
		</tr>
	      </thead>
	      <tbody>
		<tr>
		  <td>
		    Admin
		  </td>
		  <td>Can add user</td>
		  <td>
		    <input type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="background-color: rgb(38, 185, 154); border-color: rgb(38, 185, 154); box-shadow: rgb(38, 185, 154) 0px 0px 0px 11px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;"><small style="left: 12px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;"></small></span>
		  </td>
		</tr>
		<tr>
		  <td>
		    Admin
		  </td>
		  <td>Can edit user</td>
		  <td>
		      <input type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="background-color: rgb(38, 185, 154); border-color: rgb(38, 185, 154); box-shadow: rgb(38, 185, 154) 0px 0px 0px 11px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;"><small style="left: 12px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;"></small></span>
		  </td>
		</tr>
		<tr>
		  <td>Admin</td>
		  <td>Can add role</td>
		  <td>
		    <input type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="background-color: rgb(38, 185, 154); border-color: rgb(38, 185, 154); box-shadow: rgb(38, 185, 154) 0px 0px 0px 11px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;"><small style="left: 12px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;"></small></span>
		  </td>
		</tr>
		<tr>
		  <td>Admin</td>
		  <td>Can edit role</td>
		  <td>
		      <input type="checkbox" class="js-switch" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s, box-shadow 0.4s;"><small style="left: 0px; transition: background-color 0.4s, left 0.2s;"></small></span>
		  </td>
		</tr>
		<tr>
		  <td>Biolab Registry</td>
		  <td>Can view reports</td>
		  <td>
		      <input type="checkbox" class="js-switch" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s, box-shadow 0.4s;"><small style="left: 0px; transition: background-color 0.4s, left 0.2s;"></small></span>
		  </td>
		</tr>
		<tr>
		  <td>Medical Registry</td>
		  <td>Can add questions</td>
		  <td>
		    <input type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="background-color: rgb(38, 185, 154); border-color: rgb(38, 185, 154); box-shadow: rgb(38, 185, 154) 0px 0px 0px 11px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;"><small style="left: 12px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;"></small></span>
		  </td>
		</tr>
	      </tbody>
	    </table>

	  </div>
	</div>
      </div>

    
  </div> <!-- page-body -->
  
</div> <!-- page-content -->
