<div id="page-content"
     class="col-md-offset-3 col-md-9">

  <header class="app-header row">
    <div class="app-header--primary">
      
      <div class="app-header--context">
	<div class="app-header--breadcrumbs">
	  <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
	    <li>
	      <a [routerLink]="['./']">Administration</a>
	    </li>
	  </ol>
	</div>
	<h1 class="app-header--heading">
	  Forms 
	</h1>
      </div>
    </div> <!-- app-header--primary -->

    
    <div class="app-header--secondary">
    </div>
  </header>

  <div class="row">

    <div class="col-md-12 table-nav">
      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left top_search">
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Search for...">
	  <span class="input-group-btn">
	    <button class="btn btn-default" type="button">Go!</button>
	  </span>
	</div>
      </div>
      <!--<a [routerLink]="['/biobanking/questions/create']"-->
      <a [routerLink]="['/admin/forms/create',0]"
         class="btn btn-default pull-right">
        <i class="fa fa-plus"></i> &nbsp; Create Form 
      </a>
    </div>
    
    <div class="col-md-12">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Form Name</th>
	    <th>Type</th>
	    <th>Organization</th>
	    <th>Department</th>
	    <th>Approval</th>
			<!--<th style="text-align: center">Action</th>-->
	    <th>Status</th>
	  </tr>
	</thead>
	<tbody>
	  <tr  *ngFor="let form of forms; let i = index">
	    <th scope="row">{{ i + 1 }}</th>
	    <td>
        <a class="form_name" 
           [routerLink]="['/admin/forms/update',form.id]" >
          {{ form.name }}
        </a>
      </td>
	    <td>{{ form.type }}</td>
	    <td>{{ form.organization }}</td>
	    <td>{{ form.department }}</td>
	    <td>{{ form.approval }}</td>
			<!--<td style="text-align: center">
        <button 
         class="btn btn-sm btn-success"
         [routerLink]="['/biobanking/forms/update',form.id]">
         <i class="fa fa-plus"></i> &nbsp; Update</button>
			</td>-->
	    <td>{{ form.status }}</td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>
