<div class="panel-default">
  <div class="form-group">
    <div [formGroup]="parentForm" class="col-sm-12">
        <question-option *ngFor="let option of options"
           [formArray]="parentForm.controls.options" 
           [optionType]="parentForm.get('type').value" 
           [option]="option" 
           (removed)="removeOption(i)" 
           [viewState]="viewState" 
           [sectionIndex]="sectionIndex"
           [questionIndex]="questionIndex"
           >
        </question-option>
    </div>
    <div class="col-sm-12">
      <br/>
      <button mat-raised-button color="primary"
              id="e2e-add-option-{{sectionIndex}}-{{questionIndex}}"
              class="pull-left "
              (click)="addOption()">
          Add Option 
      </button>
    </div>
  </div>
</div>
