<div id="page-content"
     class="col-md-offset-3 col-md-9">
  <header class="app-header row">
    <div class="app-header--primary">
      <div class="app-header--context">
        <div class="app-header--breadcrumbs">
          <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
            <li>
              <a [routerLink]="['/admin/database']">Administration</a>
            </li>
            <li>
              <a [routerLink]="['/admin/database/list']">Database List</a>
            </li>
            <li>
              <a [routerLink]="['/admin/database/restore']">Restore</a>
            </li>
          </ol>
        </div>
        <h1 class="app-header--heading">
          Database 
        </h1>
      </div>
    </div>  
    <div class="app-header--secondary">
    </div>
  </header>

  <div class="row" id="page-body">
    <div class="col-md-12 table-nav">
      <div class="col-sm-6">
        <div class="alert alert-danger"
             [hidden]="!has_errors">
          <strong>
            <i class="fa fa-warning"></i> Unable to process your request.
          </strong>
          <em>Please see details below: </em>
        </div>
      </div>

      <div class="col-sm-offset-3 col-sm-3 save-wrapper">
        <button class="btn btn-success pull-right"
          [disabled]="!databaseCreateForm.form.valid || is_processing"
          (click)="onSaveClick(new_database)">
          <i class="fa fa-save"></i> &nbsp; Restore 
        </button>
      </div>
    </div>

    <!-- Database Name -->
    <div class="col-md-12 col-sm-12 col-xs-12"> 
      <div class="x_panel">
        <div class="x_content">
          <br>
          <form data-parsley-validate=""
                class="form-horizontal form-label-left"
                #databaseCreateForm="ngForm" novalidate>
            <div class="row">
            </div>
            
            <div class="form-group" >
              <div class="col-sm-6 col-sm-offset-3">
                <div class="alert alert-danger" >
                  <strong>
                    <i class="fa fa-warning"></i> Are you sure to restore the database
                    using this backup.
                  </strong>
                  <em>All records in the database will be overwritten once submitted</em>
                </div>
              </div>
            </div>

        </form>
      </div>
    </div>      
  </div> <!-- DatabaseName -->


    
  </div> <!-- page-body -->
  
</div> <!-- page-content -->
