<div id="page-content"
     class="col-md-offset-3 col-md-9">

     <header class="app-header row">
      <div class="app-header--primary">
        <div class="app-header--context">
          <div class="app-header--breadcrumbs">
            <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
              <li>
                <a [routerLink]="['/biobanking/cases']">Biobanking Registry</a>
              </li>
              <li>
                <a [routerLink]="['/biobanking/cases/list']">Cases List</a>
              </li>
              <li>
                <a [routerLink]="['/biobanking/cases/create']">Create</a>
              </li>
            </ol>
          </div>
          <h1 class="app-header--heading">
            Cases 
          </h1>
        </div>
      </div> <!-- app-header--primary -->  
      <div class="app-header--secondary">
      </div>
    </header>

    <div class="row" id="page-body">

        <div class="col-md-12 table-nav">
            <div class="col-sm-3 reset-wrapper">
              <button class="btn btn-default pull-left">
                <i class="fa fa-refresh"></i> &nbsp; Reset
              </button>
            </div>
            
            <div class="col-sm-6">
              <div class="alert alert-danger" [hidden]="!has_errors">
                <strong> <i class="fa fa-warning"></i> Unable to process your request. </strong>
                <em>Please see details below: </em>
              </div>
            </div>
          
            <div class="col-sm-3 save-wrapper">
              <button class="btn btn-success pull-right">
                <i class="fa fa-save"></i> &nbsp; Save
              </button>
            </div>
          </div>
          


    <div class="col-md-12" style="padding-top: 20px; padding-bottom: 15px;">
      
      <!-- Case Identifier -->
      <div class="col-md-6 col-sm-6 col-xs-12"> 
          <div class="material-form-group">
            <mat-form-field class="material-form-control col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
              <input matInput 
                    [(ngModel)]="case.case_nbr"
                    #input_name="ngModel" name="input_casenumber"
                    placeholder="Case Number">
            </mat-form-field>	
          </div>
      </div> 
      <!-- Case Identifier -->

      <div class="col-md-6 col-sm-6 col-xs-12"> 
        <div class="material-form-group">  
          <mat-form-field class="material-form-control col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
              <input matInput 
                    [(ngModel)]="case.case_nbr"
                    #input_name="ngModel" name="input_casenumber"
                    placeholder="Diagnosis">
          </mat-form-field>	  
        </div>
    </div>
  </div> 


    <!-- Forms  -->
    <div class="col-md-12 col-sm-12 col-xs-12"> 
        <div class="x_panel">
          <div class="x_title">
            <h2>Case Forms</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Form Name</th>
                      <th>Date Created</th>
                      <th>Manage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
              </table>
          </div> <!-- x_content -->
        </div>
      </div> 
      <!-- Forms -->

    </div> <!-- page-body -->
    
</div>  <!-- page-content -->