
<div class="col-md-12 table-nav" *ngIf="method == 'CREATE' || method == 'UPDATE'">
  <div class="col-sm-3 reset-wrapper">
    <button class="btn btn-default pull-left"
      (click)="resetCase(case)">
      <i class="fa fa-refresh"></i> &nbsp; Reset
    </button>
  </div>
  
  <div class="col-sm-6">
    <div class="alert alert-danger" [hidden]="!has_errors">
      <strong> <i class="fa fa-warning"></i> Unable to process your request. </strong>
      <em>Please see details below: </em>
    </div>
  </div>

  <div class="col-sm-3 save-wrapper">
    <button class="btn btn-success pull-right"
      (click)="submitCase()">
      <i class="fa fa-save"></i> &nbsp; Save
    </button>
  </div>
</div>

<div class="col-md-12" style="padding-top: 20px; padding-bottom: 15px;">
  <!-- Case Identifier -->
  <div class="col-md-6 col-sm-6 col-xs-12"> 
      <div class="material-form-group">
        <mat-form-field class="material-form-control col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
          <input matInput 
                [(ngModel)]="_case.case_nbr"
                #input_name="ngModel" name="input_casenumber"
                [disabled]="method == 'VIEW'"
                placeholder="Case Number">
        </mat-form-field>	
      </div>
  </div> 
  <!-- Case Identifier -->

  <!-- Diagnosis -->
  <div class="col-md-6 col-sm-6 col-xs-12"> 
    <div class="material-form-group">  
      <mat-form-field class="material-form-control col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
          <input matInput 
                [(ngModel)]="_case.diagnosis"
                #input_name="ngModel" name="input_casenumber"
                [disabled]="method == 'VIEW'"
                placeholder="Diagnosis">
      </mat-form-field>	  
    </div>
  </div>
  <!-- Diagnosis -->
</div> 

<!-- Forms  -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
    <div class="x_panel">
      <div class="x_title">
        <h2>Case Forms</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Form Name</th>
                  <th>Date Created</th>
                  <th *ngIf="method == 'UPDATE'">Manage</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let form of _case.forms; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ form.form_name }}</td>
                  <td>{{ form.date_created | date :'medium' }}</td>
                  <td  *ngIf="method == 'UPDATE'"
                    style="text-align: center">
                    <button 
                      class="btn btn-sm btn-default">
                      <i class="fa fa-eye"></i> View
                    </button>
                    <button 
                      class="btn btn-sm btn-warning">
                      <i class="fa fa-edit"></i> Update
                    </button>
                  </td>
                </tr>
              </tbody>
          </table>
      </div> <!-- x_content -->
    </div>
  </div> 
  <!-- Forms -->