<div id="page-content"
     class="col-md-offset-3 col-md-9">

  <header class="app-header row">
    <div class="app-header--primary">
      
      <div class="app-header--context">
	<div class="app-header--breadcrumbs">
	  <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
	    <li>
	      <a [routerLink]="['./']">Biobanking Registry</a>
			</li>
			<li>
				<a [routerLink]="['./']">
					<strong>Cases List</strong>
				</a>
	    </li>
	  </ol>
	</div>
	<h1 class="app-header--heading">
	  Cases 
	</h1>
      </div>
    </div> <!-- app-header--primary -->

    
    <div class="app-header--secondary">
    </div>
  </header>

  <div class="row">
		<app-pcaricase-list
		[cases]="cases"
		[create_url]="'/biobanking/cases/create'"
		[view_url]="'/biobanking/cases/view'"
		[update_url]="'/biobanking/cases/update'">
	</app-pcaricase-list>
  </div>
</div>
