
    <div class="col-md-12 table-nav">
      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left top_search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Go!</button>
					</span>
				</div>
      </div>
      <a [routerLink]="[create_url]"
         class="btn btn-default pull-right">
        <i class="fa fa-plus e2e-create-case"></i> &nbsp; Create Case 
      </a>
    </div>
    
    <div class="col-md-12">
      <table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Case Number</th>
						<th *ngIf="show_diagnosis">Diagnosis</th>
						<th>Date Created</th>
						<th>Case Status</th>
					</tr>
				</thead>
				<tbody>
					<tr  *ngFor="let case of _cases; let i = index">
						<th scope="row">{{ i + 1 }}</th>
						<td class="e2e-newest-case">{{ case.case_nbr }}</td>
						<td *ngIf="show_diagnosis"
							matTooltip="{{case.diagnosis}}" >{{case.diagnosis | ellipsis:40 }} </td>
						<td>{{ case.date_created | date: 'MMM dd, yyyy' }}</td>
						<td>
							<span *ngIf="!case.is_active" class="badge badge--failed" #inactive> Inactive</span>
							<span *ngIf="case.is_active" class="badge badge--success" #active> Active</span>
						</td>
						<td style="text-align: right">
							<button 
							class="btn btn-sm btn-default"
							[routerLink]="[view_url, case.id]">
							<i class="fa fa-eye"></i> View</button>
							<button 
							class="btn btn-sm btn-warning e2e-update-newest-case"
							[routerLink]="[update_url, case.id]">
							<i class="fa fa-edit"></i> Update</button>
						</td>
					</tr>
				</tbody>
      </table>
    </div>