<div id="login-sidebar">
  <div class="login-panel_header">
    <img src="/assets/images/dual-transparent-B.png" class="login-panel__logos">
    <br/><br/>
    <div>
      <a class="login-panel__about"
         (click)="onAboutClick()">
        About Us 
      </a>
    </div>
  </div>

  
  <div class="login-panel__content">
    <h2 class="login-panel__header">
      <small class="login-panel__subheader">
      {{version}}
      </small>
      <em>
        Philippine Cancer-Phenome Biobank Registry
      </em>
    </h2>
    <p class="login-panel__caption">
      Medical Information &<br>
      Biobanking Registry
    </p>
    <div style="text-align: center;">
      <a (click)="onSignupClick()"
        *ngIf="show_signin"
        class="login-panel__button center-block">
        SIGN UP
      </a>
      <a (click)="onSigninClick()"
        *ngIf="show_signup || show_about"
        class="login-panel__button center-block">
        SIGN IN
      </a>
      </div>
  </div>
  
  <div class="login-panel_footer">
    <p class="login-panel_footer__lead">
      A PROJECT POWERED BY
    </p>
    <div style="text-align: center;">
      <img src="/assets/images/picari-logo-transparent-228-B.png"
        width="190px"
      class="login-panel__logos">
    </div>
  </div>
</div>

<app-signin
  [show]="show_signin">
</app-signin>
<app-signup
  [show]="show_signup">
</app-signup>
<app-about 
  [show]="show_about">
</app-about>
