
#login-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F8EEE7;
    width: 25%;
}

.login-panel_header {
    position: absolute;
    top: 38px;
    left: 55px;
    right: 55px;
    border-bottom: 1.5px solid lightgray;
    padding-bottom: 15px;
}

.login-panel__content {
    padding: 0 70px;
    color: #73879C;
    position: absolute;
    top: 25%;
}

.login-panel__header {
    margin-bottom: 33px;
    opacity: .89;
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
    color: #6E0D1C;
    letter-spacing: 1.42px;
    text-transform: uppercase;
}

.login-panel__subheader {
    display: block;
    margin-bottom: 17px;
    font-size: 12px;
    color: #FFF;
    color: gray;
    letter-spacing: 1.09px;
    text-align: center;
}

.login-panel__caption {
    margin-bottom: 35px;
    opacity: .69;
    font-style: italic;
    font-size: 15px;
    color: #FFF;
    color: #73879C;
    line-height: 25px;
}

.login-panel__button {
    display: inline-block;
    background: #5EB065;
    border-radius: 100px;
    font-size: 10px;
    color: #FFF;
    letter-spacing: 1px;
    padding: 0 36px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    -webkit-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
}

.login-panel_footer {
    position: absolute;
    bottom: 40px;
    left: 55px;
    right: 55px;
}

.login-panel_footer > p{
    padding-bottom: 0px;
    margin-bottom: 0px;
    opacity: .80;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .91px;
}
.main-panel__heading {
    font-size: 28px;
    font-weight: 400;
    color: #434C5F;
    margin-bottom: 50px;
    text-align: left;
}

.form-label {
    width: 100%;
    font-weight: lighter;
}

.form-group {
    margin-bottom: 23px;
}

.form-login {
    width: 550px;
    height: 430px;
    position: absolute;
    left: 62.5%;
    left: 53%;
    top: 30%;
    text-align: left;
    
    margin-left: -270px;
    margin-top: -215px;
}
.form-login form {
    margin: 0;
}

.alert {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {

    text-align: center;
}

#login_btn {
    background: #6E0D1C;
    border-color: #F8EEE7;
    color: #EEE;
    border-width: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;

    text-align: center;
    width: 30%;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 100px;
    -webkit-transition: box-shadow .2s ease,border .2s ease;
    transition: box-shadow .2s ease,border .2s ease;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#login_form input{
    border: 1px solid #D4D9E2;
    border-radius: 3px;
    padding: 15px;
    font-size: 14px;
    color: #596377;
    outline: 0;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
    height: 50px;
    display: block;
    width: 100%;
    font-weight: 200;
}

#login_form input:focus{
    background-color: rgb(250, 255, 189);
}
/*
#login_form input:focus{
    border-color: rgba(0, 124, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 124, 0, 0.6);
    outline: 0 none;
}

.form-login {
    box-shadow: 0 6px 20px 0 rgba(38, 193, 85, 0.12), 0 6px 20px 0 rgba(38, 193, 85, 0.19);
    border: 3px solid #007C00;
}
*/

.muted {
    color: #999;
}


.forgot-password {
    display: inline-block;
    margin: 0 0 0 10px;
        margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    color: #3572b0;
    text-decoration: none;

}

.well {
    background: transparent;
    border: 0px;
    box-shadow: none;
}