<div class="col-md-offset-4 col-md-4 col-xs-12 well form-login"
  [hidden]="!_show">
  <div class="row">
    <div class="col-xs-12" style="text-align: center; padding: 0;">
      <h1 class="main-panel__heading">
        Get started now! <br/>
        <small class="main-panel__subheading">
          Enter your details below.
        </small>
      </h1>
    </div>
  </div>

  <div class="row"
    style="padding-bottom: 20px;">
      
    <div id="unauthorized_alert" 
      [hidden]="!is_error"
      class="alert alert-error">
          <strong>Can not process your request. Sorry!</strong>
    </div>
    
    <form id="signup_form" name="form"
      (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <!-- (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate -->

      <!-- Username -->
      <div class="form-group"
        [ngClass]="{'has-error': ((signupusername.dirty || signupusername.touched) && 
          (signupusername.error) || !valid_email) }">
        <label for="username" class="form-label">EMAIL ADDRESS</label>
        <input id="signup_username" name="username" autofocus=""
          class="form-control" type="text" value="" 
          (change)="validateEmail()"
          [(ngModel)]="model.username" #signupusername="ngModel" required
          placeholder="yourname@email.com" style="text-align: left;" >
          <div class="help-block"
            *ngIf="(signupusername.dirty || signupusername.touched) && 
              (signupusername.error)">
              <span [hidden]="!(signupusername.error.required)">
              Email Address is required
              </span>
          </div>
          <div class="help-block"
            *ngIf="!valid_email">
              <span>
              Please enter a valid email address
              </span>
          </div>
      </div>

      <!-- Password -->
      <!-- <div class="form-group" style="margin-bottom: 0;"
		    [ngClass]="{'has-error': error?.password || 
          (signuppassword.dirty || signuppassword.touched) && 
          (signuppassword.error) }"> -->
      <div class="form-group" style="margin-bottom: 0;"
		    [ngClass]="{'has-error': error || 
          (signuppassword.dirty || signuppassword.touched) && 
          (signuppassword.error) }">
        <label for="username" class="form-label">
          <span class="pull-left">PASSWORD</span>
        </label>
        <input id="sign_uppassword" name="password" class="form-control" type="password"
          [(ngModel)]="model.password" #signuppassword="ngModel" required
          placeholder="Enter your password" style="text-align: left;" >
          <div class="help-block"
            *ngIf="(signuppassword.dirty || signuppassword.touched) && 
              (signuppassword.error)">
              <span [hidden]="!(signuppassword.error.required)">
              Password is required
              </span>
            </div>
      </div>

       <!-- Confirm Password -->
       <div class="form-group"
        [ngClass]="{'has-error': (signupconfirmpassword.dirty || signupconfirmpassword.touched) && 
              (signupconfirmpassword.error ||
              (model.password != confirm_password)) }">
          <label for="username" class="form-label">
          </label>
          <input id="sign_up_confirmpassword" name="password" class="form-control" type="password"
            [(ngModel)]="confirm_password" #signupconfirmpassword="ngModel" required
            placeholder="Confirm your password" style="text-align: left;" >
            <div class="help-block"
		          *ngIf="(signupconfirmpassword.dirty || signupconfirmpassword.touched) && 
                (signupconfirmpassword.error)">
                <span  [hidden]="!(signupconfirmpassword.error.required)">
                 Please confirm your password
                </span>
            </div>
            
            <div class="help-block"
              *ngIf="(signupconfirmpassword.dirty || signupconfirmpassword.touched) && 
                (model.password != signupconfirmpassword)">	    
              <span  [hidden]="(model.password == signupconfirmpassword)">
                Password do not match
              </span>
            </div>	
        </div>

        <!-- First Name -->
        <div class="form-group"
         [ngClass]="{'has-error': (signupfirstname.dirty || signupfirstname.touched) && 
          (signupfirstname.error) }">
          <label for="firstname" class="form-label">First Name</label>
          <input id="firstname" name="firstname" autofocus=""
            class="form-control" type="text" value="" 
            [(ngModel)]="model.first_name" #signupfirstname="ngModel" required
            placeholder="" style="text-align: left;" >
            <div class="help-block"
            *ngIf="(signupfirstname.dirty || signupfirstname.touched) && 
              (signupfirstname.error)">
              <span [hidden]="!(signupfirstname.error.required)">
              First Name is required
              </span>
            </div>
        </div>

        <!-- Last Name -->
        <div class="form-group">
          <label for="lastname" class="form-label">Last Name</label>
          <input id="lastname" name="lastname" autofocus=""
            class="form-control" type="text" value="" 
            [(ngModel)]="model.last_name" #signuplastname="ngModel" required
            placeholder="" style="text-align: left;" >
        </div>

      <!-- Login button -->
      <button id="signup_btn" type="submit"
        class="btn btn-primary center-block"
        *ngIf="!is_successful"
        [disabled]="!valid_email || !signupusername.valid || !signuppassword.valid || !signupfirstname.valid || loading"
        (click)="signup()">
        <span *ngIf="!loading">SIGN UP</span>
        <span *ngIf="loading" >
          <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          Please wait
        </span>
      </button>
      
      <br/>
      <div class="hide alert alert-danger">{{error}}</div>
      <div id="success" class="alert alert-success"
        [hidden]="!is_successful">
          <strong>Successfully created account!</strong>
      </div>

      
    </form>
  </div> <!-- row -->
</div>
