
<div class="col-md-12 table-nav" 
    *ngIf="method == 'CREATE' || method == 'UPDATE'">
    <div class="col-sm-3 reset-wrapper">
      <button class="btn btn-default pull-left"
        (click)="resetCase(case)">
        <i class="fa fa-refresh"></i> &nbsp; Reset
      </button>
    </div>
    
    <div class="col-sm-6">
      <div class="alert alert-danger" [hidden]="!has_errors">
        <strong> <i class="fa fa-warning"></i> Unable to process your request. </strong>
        <em>Please see details below: </em>
      </div>
    </div>
  
    <div class="col-sm-3 save-wrapper">
      <button class="btn btn-success pull-right"
        [disabled]="is_adding_forms"
        (click)="submitCase()">
        <i class="fa fa-save"></i> &nbsp; Save
      </button>
    </div>
  </div>

 <!-- Case -->
  <div class="col-md-12 col-sm-12 col-xs-12"> 
    <div class="x_panel">
      <div class="x_content">
      <br>
        <form data-parsley-validate=""
        class="form-horizontal form-label-left"
        #caseCreateForm="ngForm" novalidate>
          <div class="row">
          </div>
          <div class="material-form-group">
              <!-- Case Number-->
              <mat-form-field class="material-form-control col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                  <input matInput 
                        [(ngModel)]="_case.case_nbr"
                        #input_name="ngModel" name="input_casenumber"
                        [disabled]="method == 'VIEW'"
                        placeholder="Case Number">
              </mat-form-field>	
  
              <!-- Diagnosis-->
              <mat-form-field class="material-form-control col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                  <input matInput 
                        [(ngModel)]="_case.diagnosis"
                        #input_name="ngModel" name="input_casenumber"
                        [disabled]="method == 'VIEW'"
                        placeholder="Diagnosis">
              </mat-form-field>	  
              <!-- Status -->
              <br/><br/>
              <mat-slide-toggle class="material-form-control col-md-offset-1 col-md-11 col-sm-12 col-xs-12"
                  [disabled]="method == 'VIEW'"
                  [(ngModel)]="_case.is_active"
                  #input_is_active="ngModel" 
                  name="input_is_active">
                  {{ _case.is_active ? 'Active' : ' Inactive' }}
              </mat-slide-toggle>
          </div> <br/><br/>
        </form>
      </div>
    </div>      
  </div> <!--Case --> 

<app-case-form-add
  (onSaveFormAddTrigger)="onAddSelectedForm($event)"
  (onCancelFormAddTrigger)="onCancelAddForm()"
  [show]="!show_selected_forms">
</app-case-form-add>


<app-case-form-manage 
  [caseid]="_case.id"
  [casenumber]="_case.case_nbr"
  [show]="show_selected_forms"
  [forms]="_case.forms"
  [method]="method"
  (onCallSelectFormTrigger)="onAddForm()">
</app-case-form-manage>
