<div id="side_menu"
     class="col-md-3">
  <div class="row">
    <div class="col-md-12">
      <app-admin-menu-title></app-admin-menu-title>
    </div>
  </div>

  <div class="row">
    <div class="sidebar">
      <ul class="nav nav-sidebar" style="">
        <li routerLinkActive="active"
          appPcariauth
            [mustHavePermission]="['admin_user_create', 'admin_user_view', 'admin_user_approve', 'admin_user_update']"
            [mustBeAll]="false">
          <a  [routerLink]="['./users']">
            <i class="fa fa-user"></i>&nbsp;&nbsp;Users
          </a>
        </li>
        <li routerLinkActive="active"
          appPcariauth
            [mustHavePermission]="['admin_role_view', 'admin_role_create', 'admin_role_update']"
            [mustBeAll]="false">
          <a  [routerLink]="['./roles']">
            <i class="fa fa-group"></i>Roles
          </a>
        </li>
        <li routerLinkActive="active"
          appPcariauth
            [mustHavePermission]="['admin_database_create', 'admin_database_update', 'admin_database_restore']"
            [mustBeAll]="false">
          <a  [routerLink]="['./database']">
            <i class="fa fa-database"></i>&nbsp;Databases
          </a>
        </li>
        <!--
        <li routerLinkActive="active">
          <a  [routerLink]="['./consent']">
            <i class="fa fa-file"></i>&nbsp;Consents
          </a>
        </li>
        <li routerLinkActive="active">
          <a  [routerLink]="['./forms']">
            <i class="fa fa-clone"></i>&nbsp;Forms 
          </a>
        </li>
        //-->
      </ul>
    </div>
  </div> <!-- row -->
</div>
