<div id="side_menu"
     class="col-md-3">
  <div class="row">
    <div class="col-md-12">
      <app-admin-menu-title></app-admin-menu-title>
    </div>
  </div>

  <div class="row">
    <div class="sidebar">
      <ul class="nav nav-sidebar" style="">
        <li routerLinkActive="active">
          <a  [routerLink]="['./users']">
            <i class="fa fa-user"></i>
            Users
          </a>
        </li>
        <li routerLinkActive="active">
          <a  [routerLink]="['./roles']">
            <i class="fa fa-group"></i>
            Roles
          </a>
        </li>
        <li routerLinkActive="active">
          <a  [routerLink]="['./database']">
            <i class="fa fa-database"></i>
            Database 
          </a>
        </li>
        <li routerLinkActive="active">
          <a  [routerLink]="['./consent']">
            <i class="fa fa-file"></i>
            Consent 
          </a>
        </li>
        <li routerLinkActive="active">
          <a  [routerLink]="['./forms']">
            <i class="fa fa-clone"></i>
            Forms 
          </a>
        </li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
