<div id="page-content"
     class="col-md-offset-3 col-md-9">

  <header class="app-header row">
    <div class="app-header--primary row">
      
      <div class="app-header--context col-md-12">
	<div class="app-header--breadcrumbs col-md-12">
	  <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
	    <li>
	      <a [routerLink]="['./']">My Account</a>
	    </li>
	  </ol>
	</div>
	<h1 class="app-header--heading col-md-12">
	  Change Password
	</h1>
      </div>
    </div>

    
    <div class="app-header--secondary">
    </div>
  </header>


  <div class="row" id="page-body">
    <div class="col-md-12 table-nav">
			<button class="btn btn-default pull-left"
				(click)="onResetForm(changePasswordForm)">
				<i class="fa fa-refresh"></i> &nbsp; Reset
      </button>
			<button class="btn btn-success pull-right"
				[disabled]="!changePasswordForm.form.valid || new_password != confirmation_password"
				(click)="onSaveClick()">
				<i class="fa fa-save"></i> &nbsp; Save
      </button>
    </div>

    <!-- Account Info -->
    <div class="col-md-12 col-sm-12 col-xs-12"> 
      <div class="x_panel">
	<div class="x_content">
	  <br>
		<form class="form-horizontal form-label-left" 
			#changePasswordForm="ngForm" novalidate>

			<div class="form-group"
			[ngClass]="{'has-error': errors?.old_password || (input_oldpassword.dirty || input_oldpassword.touched) && 
					(input_oldpassword.errors) }">
	      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="old">Old Password <span class="required">*</span>
	      </label>
	      <div class="col-md-6 col-sm-6 col-xs-12">
						<input type="password" id="old_password" 
						[(ngModel)]="old_password"
						required
						 #input_oldpassword="ngModel" name="old_password"
						 class="form-control col-md-7 col-xs-12">
					<div class="help-block"
					*ngIf="(input_oldpassword.dirty || input_oldpassword.touched) && 
						 (input_oldpassword.errors)">
						 <span [hidden]="!(input_oldpassword.errors.required)">
				 			Old Password is required
						 </span>
					 </div>
					 <div class="help-block"
						*ngIf="(has_errors && errors?.old_password)">
						 <span>
				 			{{ errors.old_password }}
						 </span>
					 </div>
	      </div>
	    </div>

	    <div class="form-group"
			[ngClass]="{'has-error': errors?.password || 
			(input_password.dirty || input_password.touched) && 
					(input_password.errors) }">
	      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="new_password">New Password  <span class="required">*</span>
	      </label>
	      <div class="col-md-6 col-sm-6 col-xs-12">
					<input type="password" id="new_password" 
					[(ngModel)]="new_password"
					required
		   		#input_password="ngModel" name="input_password"
					name="new_password" class="form-control col-md-7 col-xs-12">
					<div class="help-block"
					*ngIf="(input_password.dirty || input_password.touched) && 
						 (input_password.errors)">
						 <span [hidden]="!(input_password.errors.required)">
				 			New Password is required
						 </span>
					 </div>
	      </div>
	    </div>

	    <div class="form-group"
				[ngClass]="{'has-error': (input_confirmation_password.dirty || input_confirmation_password.touched) && 
							 (input_confirmation_password.errors ||
						 (new_password != confirmation_password)) }">
	      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="new_password2">Confirm New Password  <span class="required">*</span>
	      </label>
	      <div class="col-md-6 col-sm-6 col-xs-12">
					<input type="password" id="new_password2" 
					[(ngModel)]="confirmation_password"
		  	 #input_confirmation_password="ngModel" name="input_confirmation_password"
					required
					name="new_password2" class="form-control col-md-7 col-xs-12">
					<div class="help-block"
						*ngIf="(input_confirmation_password.dirty || input_confirmation_password.touched) && 
						(input_confirmation_password.errors)">
						<span  [hidden]="!(input_confirmation_password.errors.required)">
						Please confirm your password
						</span>
					</div>
					<div class="help-block"
						*ngIf="(input_confirmation_password.dirty || input_confirmation_password.touched) && 
							(new_password != confirmation_password)">	    
							<span  [hidden]="(new_password == confirmation_password)">
							Password do not match
							</span>
					</div>	
	      </div>
	    </div>

	  </form>
	</div>
      </div>
    </div> <!-- Account Information -->


  </div> <!-- page-body -->
  
</div> <!-- page-content -->
