#page-content {
    min-height: 500px;
    padding-left: 20px;
    padding-right: 20px;
}

.app-header {
    align-items: center;
    display: flex;
    margin: 20px 20px 0;
    margin-left: 0px;
    margin-right: 0px;
}

.app-header--primary {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    position: relative;
    max-width: 100%;
}

.app-header--heading {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    font-size: 1.71428571em;
    font-style: inherit;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 1.16666667;
    margin-top: 28px;
    color: #172B4D;
    margin-top: 10px;
}

body.adg3 .aui-nav-breadcrumbs {
    margin-top: 16px;
}

body.adg3 .aui-nav-breadcrumbs a, body.adg3 .aui-nav-breadcrumbs>li,
body.adg3 .aui-nav-breadcrumbs>li+li::before {
    color: #5E6C84;
}

.aui-nav-breadcrumbs>li {
    padding: 0 10px 0 0;
}
.aui-nav-breadcrumbs>li,
.aui-nav-horizontal>li,
.aui-nav-pagination>li,
.aui-navgroup-horizontal .aui-nav>li {
    float: left;
}
.aui-nav, .aui-nav>li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.table-nav {
    margin-top: 20px;
    min-height: 15px;
}

.table-nav .form-group{
    margin-bottom: 0px;
}

.badge--success {
    Background-color: #5EB065;
    width: 70px;
    padding: 5px;
}

.badge--failed {
    background-color: #C8CDCF;
    width: 70px;
    padding: 5px;
}

.form_name {
  display: inline-block;
  cursor:  pointer;
}

.form_name:hover {
  text-decoration: underline;
}


