<div [hidden]="show_icd">
<div class="col-md-12 table-nav" 
*ngIf="method == 'CREATE' || method == 'UPDATE'">
<div class="col-sm-3 reset-wrapper">
  <button class="btn btn-default pull-left"
    (click)="resetCase(case)">
    <i class="fa fa-refresh"></i> &nbsp; Reset
  </button>
</div>

<div class="col-sm-6">
  <div class="alert alert-danger" [hidden]="!has_errors">
    <strong> <i class="fa fa-warning"></i> Unable to process your request. </strong>
    <em>Please see details below: </em>
  </div>
</div>

<div class="col-sm-3 save-wrapper">
  <button class="btn btn-success pull-right"
    [disabled]="is_adding_forms"
    (click)="onSubmitCase(_case)">
    <i class="fa fa-save"></i> &nbsp; Save
  </button>
</div>
</div>

<!-- Case -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
<div class="x_panel">
  <div class="x_content">
  <br>
    <form data-parsley-validate=""
    class="form-horizontal form-label-left"
    #caseCreateForm="ngForm" novalidate>
      <div class="row">
      </div>
      <div class="material-form-group">
        <h1>
          {{ngForm}}
        </h1>
          <!-- Case Number-->
          <mat-form-field class="material-form-control col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
              <input matInput 
                    [formControl]="myControl"
                    [(ngModel)]="_case.case_nbr"
                    [disabled]="method == 'VIEW'"
                    [matAutocomplete]="auto"
                    placeholder="Case Number">
          </mat-form-field>	
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>

          <!-- Diagnosis-->
          <mat-form-field 
            *ngIf="!case_searchable"
            class="material-form-control col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
              <input matInput 
                    [(ngModel)]="_case.diagnosis"
                    #input_case_diagnosis="ngModel" name="input_case_diagnosis"
                    [disabled]="method == 'VIEW'"
                    placeholder="Diagnosis">
                    <button mat-button 
                            matSuffix
                            (click)="onShowICD()"
                            class="pull-right">ICD Create Oncology</button>
          </mat-form-field>	  
          <!-- Status -->
          <br/><br/>
          <mat-slide-toggle class="material-form-control col-md-offset-1 col-md-11 col-sm-12 col-xs-12"
              [disabled]="method == 'VIEW'"
              [(ngModel)]="_case.is_active"
              #input_is_active="ngModel" 
              name="input_is_active">
              {{ _case.is_active ? 'Active' : ' Inactive' }}
          </mat-slide-toggle>
      </div> <br/><br/>
    </form>
  </div>
</div>      
</div> <!--Case --> 

<app-pcaricase-form-add
(onSaveFormAddTrigger)="onAddSelectedForm($event)"
(onCancelFormAddTrigger)="onCancelAddForm()"
[forms]="forms"
[show]="!show_selected_forms">
</app-pcaricase-form-add>

<app-pcaricase-form-list 
[caseid]="_case.id"
[casenumber]="_case.case_nbr"
[show]="show_selected_forms"
[forms]="_case.forms"
[method]="method"
[update_url]="update_url"
[view_url]="view_url"
(onCallSelectFormTrigger)="onAddForm()">
</app-pcaricase-form-list>
</div>

<app-icdoncology-manage 
*ngIf="show_icd"
(onSelectDiagnosisTrigger)="onSelectDiagnosis($event)"
(onHideICDTrigger)="onHideICD()">
</app-icdoncology-manage>

