.nav_title{
    background: #6E0D1C;
}

#side_nav{
    background: #6E0D1C;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.left_col {
    background: #6E0D1C;
}

#side_nav-content{
    height: 100%;
}

.side-menu li.active > a{
    color: #FFF;
    font-weight: bolder;
}

.side-menu li.active{
    border-right: 5px solid #5EB065;
    margin-left: 5px;
}

.nav-footer {
    position: fixed;
    bottom: 0;
}

.nav-footer > li {
    padding-left: 5px;
    padding-right: 5px;
}

.nav-footer.side-menu li.active{
    padding-left: 5px;
    padding-right: 0px;
    margin-left: 0px;
}