<div id="side_nav"
     class="col-md-3 left_col">
  <div id="side_nav-content" class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
       <a href="index.html" class="site_title"><i class="fa fa-medkit"></i> <span>Gentelella Alela!</span></a> 
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
	<img src="assets/images/img.jpg" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
	<span>Welcome,</span>
	<h2>John Doe</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section active">
	<h3>General</h3>
	<ul class="nav side-menu" style="">
    <li  routerLinkActive="active"
      *ngIf="roles.indexOf('Biobank Researcher') !== -1">
	    <a  [routerLink]="['/biobanking']">
	      <i class="fa fa-flask e2e-biobank"></i>
	      Biobank
	    </a>
	  </li>
    <li  routerLinkActive="active"
      *ngIf="roles.indexOf('Medical Researcher') !== -1">
	    <a  [routerLink]="['/medical']">
	      <i class="fa fa-heartbeat e2e-medical"></i>
	      Medical
	    </a>
	  </li>
    <li  routerLinkActive="active"
      *ngIf="roles.indexOf('Admin') !== -1">
	    <a  [routerLink]="['/admin']">
	      <i class="fa fa-tasks e2e-admin"></i>
	      Admin
	    </a>
	  </li> 
	</ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <ul class="nav side-menu nav-footer">
      <li routerLinkActive="active">
        <a  [routerLink]="['/my-account']">
          <i class="fa fa-user-circle-o"></i>User 
        </a>
      </li>
    </ul> 
    <!-- /menu footer buttons -->
  </div>
</div>  <!-- side_nav -->
