
<div class="col-md-12 table-nav">
  <div class="col-sm-3 reset-wrapper">
    <button class="btn btn-default pull-left">
      <i class="fa fa-refresh"></i> &nbsp; Reset
    </button>
  </div>
  
  <div class="col-sm-6">
    <div class="alert alert-danger"
	 [hidden]="!has_errors">
      <strong>
	<i class="fa fa-warning"></i> Unable to process your request.
      </strong>
      <em>Please see details below: </em>
    </div>
  </div>

  <div class="col-sm-3 save-wrapper">
    <button class="btn btn-success pull-right"
	    [disabled]="!userSaveFormAccount.form.valid || 
			!userSaveFormGeneral.form.valid || 
			is_processing"
	    (click)="onSaveClick(user)">
      <i class="fa fa-save"></i> &nbsp; Save
    </button>
  </div>
</div>

<!-- Account Info -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
  <div class="x_panel">
    <div class="x_title">
      <h2>Account Information</h2>
      <ul class="nav navbar-right panel_toolbox">
	<li>
	  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form data-parsley-validate=""
	    class="form-horizontal form-label-left"
	    #userSaveFormAccount="ngForm" novalidate>
	<div class="form-group"
		 [ngClass]="{'has-error': errors?.username || 
			    (input_username.errors && (input_username.dirty || input_username.touched)) }">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="input_username">
	    Username <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="input_username" 
		   [(ngModel)]="user.username"
		   #input_username="ngModel" name="input_username"
		   required="required"
		   class="form-control col-md-7 col-xs-12">
	    <div class="help-block"
		 *ngIf="errors?.username">
	      <span *ngIf="errors?.username">
		{{errors?.username}}
	      </span>
	    </div> <!-- help-block -->
	    <div class="help-block"
		 *ngIf="(input_username.errors && (input_username.dirty || input_username.touched))">
	      <span  [hidden]="!(input_username.errors.required)">
		Username is required
	      </span>
	    </div>
	  </div>
	</div>

	<div class="form-group"
		 [ngClass]="{'has-error': errors?.password || 
			    (input_password.dirty || input_password.touched) && 
  			      (input_password.errors) }">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="input_password">
	    Password <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="password" id="input_password" 
		   [(ngModel)]="user.password"
		   #input_password="ngModel" name="input_password"
		   required="required"
		   class="form-control col-md-7 col-xs-12">
	    <div class="help-block"
		 *ngIf="errors?.password">
	      <span *ngIf="errors?.password">
		{{errors?.password}}
	      </span>
	    </div> <!-- help-block -->
	    <div class="help-block"
		 *ngIf="(input_password.dirty || input_password.touched) && 
			  (input_password.errors)">
	      <span [hidden]="!(input_password.errors.required)">
		Password is required
	      </span>
	    </div>
	  </div>
	</div>

	<div class="form-group"
		 [ngClass]="{'has-error': (input_confirmation_password.dirty || input_confirmation_password.touched) && 
  			      (input_confirmation_password.errors ||
			      (user.password != confirmation_password)) }">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
	    Confirm Password <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="password" id="input_confirmation_password" 
		   [(ngModel)]="confirmation_password"
		   #input_confirmation_password="ngModel" name="input_confirmation_password"
		   required="required"
		   class="form-control col-md-7 col-xs-12">
	    <div class="help-block"
		 *ngIf="(input_confirmation_password.dirty || input_confirmation_password.touched) && 
			  (input_confirmation_password.errors)">
	      <span  [hidden]="!(input_confirmation_password.errors.required)">
		Please confirm your password
	      </span>
	    </div>
	    <div class="help-block"
		 *ngIf="(input_confirmation_password.dirty || input_confirmation_password.touched) && 
			(user.password != confirmation_password)">	    
	      <span  [hidden]="(user.password == confirmation_password)">
		Password do not match
	      </span>
	    </div>	    
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">
	    Status <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <div class="icheckbox_flat-green checked" style="position: relative;">
	      <input type="checkbox" class="flat" checked="checked" style="position: absolute; opacity: 0;">
	      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> &nbsp; Active 
	  </div>
	</div>

	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role">Role  <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="status" name="role" class="form-control col-md-7 col-xs-12">
	  </div>
	</div>

      </form>
    </div>
  </div>
</div> <!-- Account Information -->

<!-- General -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
  <div class="x_panel">
    <div class="x_title">
      <h2>General</h2>
      <ul class="nav navbar-right panel_toolbox">
	<li>
	  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form data-parsley-validate=""
	    class="form-horizontal form-label-left"
	    #userSaveFormGeneral="ngForm" novalidate>
	<div class="form-group"
		 [ngClass]="{'has-error': errors?.first_name || 
			    (input_first_name.errors && (input_first_name.dirty || input_first_name.touched)) }">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12"
		 for="input_first_name">
	    First Name <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="input_first_name"
		   class="form-control col-md-7 col-xs-12"
		   [(ngModel)]="user.first_name"
		   #input_first_name="ngModel" name="input_first_name"
		   required>
	    <div class="help-block"
		 *ngIf="errors?.first_name">
	      <span *ngIf="errors?.first_name">
		{{errors?.first_name}}
	      </span>
	    </div> <!-- help-block -->
	    <div class="help-block"
		 *ngIf="(input_first_name.errors && (input_first_name.dirty || input_first_name.touched))">
	      <span  [hidden]="!(input_first_name.errors.required)">
		First Name is required
	      </span>
	    </div>
	  </div>
	</div>

	<div class="form-group"
		 [ngClass]="{'has-error': errors?.last_name || 
			    (input_last_name.errors && (input_last_name.dirty || input_last_name.touched)) }">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12"
		 for="input_last_name">
	    Last Name <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="input_last_name"
		   class="form-control col-md-7 col-xs-12"
		   [(ngModel)]="user.last_name"
		   #input_last_name="ngModel" name="input_last_name"
		   required>
	    <div class="help-block"
		 *ngIf="errors?.last_name">
	      <span *ngIf="errors?.last_name">
		{{errors?.last_name}}
	      </span>
	    </div> <!-- help-block -->
	    <div class="help-block"
		 *ngIf="(input_last_name.errors && (input_last_name.dirty || input_last_name.touched))">
	      <span  [hidden]="!(input_last_name.errors.required)">
		Last Name is required
	      </span>
	    </div>
	  </div>
	</div>
	
	
	<div class="form-group">
	  <label for="input_middle_name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name / Initial</label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="input_middle_name"
		   class="form-control col-md-7 col-xs-12"
		   [(ngModel)]="user.middle_name"
		   #input_middle_name="ngModel" name="input_middle_name">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    Male :
	    <div class="iradio_flat-green checked parsley-success"
		 style="position: relative;">
	      <input type="radio" class="flat" name="gender" id="genderM"
		     value="M" checked="" required="" data-parsley-multiple="gender" style="position: absolute; opacity: 0;" data-parsley-id="25"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
	      </ins>
	    </div> Female :
	    <div class="iradio_flat-green" style="position: relative;"><input type="radio" class="flat" name="gender" id="genderF" value="F" data-parsley-multiple="gender" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
	    </div>
	  </div>
	</div>
      </form>
    </div>
  </div>
</div> <!-- General -->

<!-- Contact Info -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
  <div class="x_panel">
    <div class="x_title">
      <h2>Contact Information</h2>
      <ul class="nav navbar-right panel_toolbox">
	<li>
	  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form data-parsley-validate=""
	    class="form-horizontal form-label-left" novalidate="">

	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="email"
		   value="{{user.username}}"
		   class="form-control col-md-7 col-xs-12"
		   readonly>
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12"
		 for="mobile">
	    Mobile Number
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="input_mobile_number"
		   [(ngModel)]="user.mobile_number"
		   #input_mobile_number="ngModel" name="input_mobile_number"
		   class="form-control col-md-7 col-xs-12">
	  </div>
	</div>

      </form>
    </div>
  </div>
</div> <!-- Contact Information -->

<!-- Organization -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
  <div class="x_panel">
    <div class="x_title">
      <h2>Organization</h2>
      <ul class="nav navbar-right panel_toolbox">
	<li>
	  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form data-parsley-validate=""
	    class="form-horizontal form-label-left" novalidate="">

	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="organization">Organization <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <select id="organization" class="form-control" required="" data-parsley-id="38">
	      <option value="">Choose..</option>
	      <option value="press">Org A</option>
	      <option value="net">Org B</option>
	      <option value="mouth">Others</option>
	    </select>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
	    Position <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <select id="position" class="form-control" required="" data-parsley-id="38">
	      <option value="">Choose..</option>
	      <option value="press">Staff</option>
	      <option value="net">Administrator</option>
	      <option value="mouth">Others</option>
	    </select>
	  </div>
	</div>
	
      </form>
    </div>
  </div>
</div> <!-- Organization -->
