<div class="col-md-12 table-nav">
    <button class="btn btn-default pull-left">
      <i class="fa fa-refresh"></i> &nbsp; Reset
    </button>
    <button class="btn btn-success pull-right"
	      (click)="onSaveClick(user)">
      <i class="fa fa-save"></i> &nbsp; Save
    </button>
</div>

<!-- Account Info -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
  <div class="x_panel">
    <div class="x_title">
      <h2>Account Information</h2>
      <ul class="nav navbar-right panel_toolbox">
	<li>
	  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form data-parsley-validate=""
	    class="form-horizontal form-label-left"
	    #userSaveForm="ngForm" novalidate>

	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">
	    Username <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="username" name="username"
		   [(ngModel)]="user.username" #input_username="ngModel"
		   required="required"
		   class="form-control col-md-7 col-xs-12">
	  </div>
	</div>

	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">
	    Password <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="password" name="password"
		   [(ngModel)]="user.password" #input_password="ngModel"
		   required="required"
		   class="form-control col-md-7 col-xs-12">
	  </div>
	</div>

	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">
	    Confirm Password <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="confirmation_password" name="confirmation_password"
		   [(ngModel)]="confirmation_password"
		   #input_confirmation_password="ngModel"
		   required="required"
		   class="form-control col-md-7 col-xs-12">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">
	    Status <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <div class="icheckbox_flat-green checked" style="position: relative;">
	      <input type="checkbox" class="flat" checked="checked" style="position: absolute; opacity: 0;">
	      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> &nbsp; Active 
	  </div>
	</div>

	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role">Role  <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="status" name="role" class="form-control col-md-7 col-xs-12">
	  </div>
	</div>

      </form>
    </div>
  </div>
</div> <!-- Account Information -->

<!-- General -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
  <div class="x_panel">
    <div class="x_title">
      <h2>General</h2>
      <ul class="nav navbar-right panel_toolbox">
	<li>
	  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form data-parsley-validate=""
	    class="form-horizontal form-label-left" novalidate="">

	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
	  </div>
	</div>
	<div class="form-group">
	  <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name / Initial</label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    Male :
	    <div class="iradio_flat-green checked parsley-success"
		 style="position: relative;">
	      <input type="radio" class="flat" name="gender" id="genderM"
		     value="M" checked="" required="" data-parsley-multiple="gender" style="position: absolute; opacity: 0;" data-parsley-id="25"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
	      </ins>
	    </div> Female :
	    <div class="iradio_flat-green" style="position: relative;"><input type="radio" class="flat" name="gender" id="genderF" value="F" data-parsley-multiple="gender" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
	    </div>
	  </div>
	</div>
      </form>
    </div>
  </div>
</div> <!-- General -->

<!-- Contact Info -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
  <div class="x_panel">
    <div class="x_title">
      <h2>Contact Information</h2>
      <ul class="nav navbar-right panel_toolbox">
	<li>
	  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form data-parsley-validate=""
	    class="form-horizontal form-label-left" novalidate="">

	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="email" required="required" class="form-control col-md-7 col-xs-12">
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mobile">Mobile Number
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <input type="text" id="mobilde" name="mobile" class="form-control col-md-7 col-xs-12">
	  </div>
	</div>

      </form>
    </div>
  </div>
</div> <!-- Contact Information -->

<!-- Organization -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
  <div class="x_panel">
    <div class="x_title">
      <h2>Organization</h2>
      <ul class="nav navbar-right panel_toolbox">
	<li>
	  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form data-parsley-validate=""
	    class="form-horizontal form-label-left" novalidate="">

	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="organization">Organization <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <select id="organization" class="form-control" required="" data-parsley-id="38">
	      <option value="">Choose..</option>
	      <option value="press">Org A</option>
	      <option value="net">Org B</option>
	      <option value="mouth">Others</option>
	    </select>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
	    Position <span class="required">*</span>
	  </label>
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <select id="position" class="form-control" required="" data-parsley-id="38">
	      <option value="">Choose..</option>
	      <option value="press">Staff</option>
	      <option value="net">Administrator</option>
	      <option value="mouth">Others</option>
	    </select>
	  </div>
	</div>
	
      </form>
    </div>
  </div>
</div> <!-- Organization -->
