
<!-- start section-->
  <div class="col-md-12 col-sm-12 col-xs-12"> 
    <div class="form_panel col-sm-offset-2 col-sm-8" style="" >

        <br>
        <!--start form-->
        <form data-parsley-validate=""
              class="form-horizontal form-label-left"
              #questionSaveForm="ngForm" novalidate>

<div *ngFor="let question of questions; let i = index;">
      <!--container-->
      <div class="x_content">
          <!-- Key -->
          <div class="form-group"
               [ngClass]="{'has-error': errors?.key || 
              (input_key.errors && (input_key.dirty || input_key.touched)) }">
               <label class="control-label col-md-3 col-sm-3 col-xs-12" for="input_key">
                   Key <span class="required">*</span>
               </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="input_key" 
                     [(ngModel)]="question.key"
                     #input_key="ngModel" 
                     name="input_key-{{i}}"
                     required="required"
                     class="form-control col-md-7 col-xs-12">
                <div class="help-block"
                     *ngIf="errors?.key">
                  <span *ngIf="errors?.key">
                    {{errors?.key}}
                  </span>
                </div> <!-- help-block -->
                <div class="help-block"
                     *ngIf="(input_key.errors && (input_key.dirty || input_key.touched))">
                  <span  [hidden]="!(input_key.errors.required)">
                    Key is required
                  </span>
                </div>
            </div>
          </div>
          <!-- end of Key -->

          <!--Insert parts here-->
<!-- Label -->
<div class="form-group"
     [ngClass]="{'has-error': errors?.label || 
     (input_label.errors && (input_label.dirty || input_label.touched)) }">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="input_label">
      Label <span class="required">*</span>
    </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" id="input_label" 
           [(ngModel)]="question.label"
           #input_label="ngModel" name="input_label"
           required="required"
           class="form-control col-md-7 col-xs-12">
    <div class="help-block"
         *ngIf="errors?.label">
      <span *ngIf="errors?.label">
        {{errors?.label}}
      </span>
    </div> 
         <!--help-block-->
    <div class="help-block"
         *ngIf="(input_label.errors && (input_label.dirty || input_label.touched))">
      <span  [hidden]="!(input_label.errors.required)">
        Label is required
      </span>
    </div>
  </div>
</div>
<!--end of Label -->

<!--start Type -->
<div class="form-group"
     [ngClass]="{'has-error': errors?.type || 
    (input_type.errors && (input_type.dirty || input_type.touched)) }">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="input_type">
      Type  <span class="required">*</span>
    </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <select class="select2_group form-control"
      id="input_type" name="input_type" 
      [(ngModel)]="question.type"
      required="required"
      #input_type="ngModel">
      <option value="text">Short answer</option>
      [><option value="textarea">Paragraph</option><]
      <option value="checkbox">Answerable by yes or no</option>
      <option value="email">Email</option>
      <option value="password">Password</option>
      <option value="dropdown">Multiple Choice</option>
    </select>
  </div>
  <div class="clearfix"></div>
</div>
 <!--end of Type -->

 <!--Value -->
<div class="form-group"
     *ngIf="question.type == 'dropdown'"
     [ngClass]="{'has-error': errors?.value || 
    (input_value.errors && (input_value.dirty || input_value.touched)) }">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="input_value">
    Selection separated by '|'   <span class="required">*</span>
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" id="input_value" 
           [(ngModel)]="question.value"
      required="required"
           #input_value="ngModel" name="input_value"
           class="form-control col-md-7 col-xs-12">
    <div class="help-block"
         *ngIf="errors?.value">
      <span *ngIf="errors?.value">
        {{errors?.value}}
      </span>
    </div> [> help-block <]
    <div class="help-block"
         *ngIf="(input_value.errors && (input_value.dirty || input_value.touched))">
      <span  [hidden]="!(input_value.errors.required)">
        Value is required
      </span>
    </div>
  </div>
</div>
<!--end of Value -->

<!--start Order-->
<div class="form-group"
     [ngClass]="{'has-error': errors?.order || 
     (input_order.errors && (input_order.dirty || input_order.touched)) }">
     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="input_order">
       Order <span class="required">*</span>
     </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="number" id="input_order" 
           [(ngModel)]="question.order"
           #input_order="ngModel" name="input_order"
           required="required"
           class="form-control col-md-7 col-xs-12">
    <div class="help-block"
         *ngIf="errors?.order">
      <span *ngIf="errors?.order">
        {{errors?.order}}
      </span>
    </div> 
         <!--help-block-->
    <div class="help-block"
         *ngIf="(input_order.errors && (input_order.dirty || input_order.touched))">
      <span  [hidden]="!(input_order.errors.required)">
        Order is required
      </span>
    </div>
  </div>
</div>
 <!--end of Order -->
          <!--end parts here-->

           <!--Required-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="ln_solid"></div>
                <span class="form_footer_editor_fxn col-sm-1 pull-right" >
                  <i class="fa fa-3x fa-trash-o"></i>
                </span>
                <span class="form_footer_editor_fxn col-sm-1 pull-right" >
                  <i class="fa fa-3x fa-clone"></i>
                </span>
                <span class="checkbox form_footer_editor_fxn col-sm-3 pull-right" >
                  <label class="pull-right">
                    <input type="checkbox" name="input_required"
                         (click)="onToggleIsRequired()"
                         [checked]="question.required"
                         id="input_required"> Is Required?
                  </label>
                </span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!-- end of required -->
      </div>
      <!--end container-->
</div> 
        </form>

        <form [formGroup]="questionForm">
          <div formArrayName="secretLairs">
            <div *ngFor="let question of secretLairs.controls; let x=index"
               formGroupName="{{x}}">
              X: {{x}}
              Index: {{index}}
              Length: {{secretLairs.controls.length}}

              {{i + 1}}
              <div class="form-group">
                <label class="center-block">Label:
                  <input class="form-control"
                         formControlName="label">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block">Key:
                  <input class="form-control"
                         formControlName="key">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block">Order:
                  <input class="form-control"
                         formControlName="order">
                </label>
              </div>

              <div class="ln_solid"></div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="ln_solid"></div>
                    <span class="form_footer_editor_fxn col-sm-1 pull-right" >
                      <i class="fa fa-3x fa-trash-o"></i>
                    </span>
                    <span class="form_footer_editor_fxn col-sm-1 pull-right" >
                      <i class="fa fa-3x fa-clone"></i>
                    </span>
                    <span class="checkbox form_footer_editor_fxn col-sm-3 pull-right" >
                      <label class="pull-right">
                        <input type="checkbox" name="input_required"
                             (click)="onToggleIsRequired()"
                             [checked]="question.required"
                             id="input_required"> Is Required?
                      </label>
                    </span>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>



            </div>
          </div>
          </form>

          <pre>
          <p>questionForm Value: {{ questionForm.value | json }}</p>
          </pre>

        <!--end form-->
    </div>

    <div class="col-sm-1" style="background: pin">
      <div class="row">
        <div class="sidebar">
          <ul class="nav nav-sidebar" style="">
            <li class="form_side_editor_fxn" 
                (click)="onAddLair()">
              <i class="fa fa-3x fa-save"></i>
            </li>
            <li class="form_side_editor_fxn" 
                (click)="onAddSection()">
              <i class="fa fa-3x fa-plus-circle"></i>
            </li>
            <li class="form_side_editor_fxn" 
                (click)="onSaveClick(questions)">
              <i class="fa fa-3x fa-file-o"></i>
            </li>
            <!--<li class="form_side_editor_fxn" 
                (click)="onSaveClick(question)">
              <i class="fa fa-3x fa-save"></i>
            </li>
            <li class="form_side_editor_fxn" 
                (click)="onSaveClick(question)">
              <i class="fa fa-3x fa-th-list"></i>
            </li>-->
          </ul>
        </div>
      </div>

  </div> 
<!-- end section -->
