<div id="page-content"
     class="col-md-offset-3 col-md-9">
      <header class="app-header row">
        <div class="app-header--primary">
          <div class="app-header--context">
            <div class="app-header--breadcrumbs">
              <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
                <li>
                  <a [routerLink]="['./']">Biobanking Registry</a>
                </li>
              </ol>
            </div>
            <h1 class="app-header--heading"> Reactive Forms </h1>
            <select [selectedIndex]="dept_count - 1" 
                    (change)="selectTemplate($event.target.selectedIndex)" >
              <option *ngFor="let template of templates"> 
                {{ template.name }}
              </option>
            </select>

            <h2> select a section</h2>

            <div class="row">
              <div class="sidebar">
                <ul class="nav nav-sidebar" style="">
                    <li *ngFor="let section of selected_sections; let i = index;">
                      <!--<a (click)="selectSection($event.target.selectedIndex)" >{{section.name}}</a>-->
                      <!--<a (click)="selectSection($event.target.selectedIndex)" >{{section.name}}</a>-->
                      <a (click)="selectSection(i)" >{{section.name}}</a>
                    </li>
                </ul>
              </div>
            </div>



          </div>
        </div>
      </header>

      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <div class="form_panel col-sm-offset-2 col-sm-8" style="" > 
           <form-question-detail [question]=selectedQuestion> </form-question-detail>
           <!--<app-question-detail> </app-question-detail>-->
        </div>
      </div>
</div>
