<div class="panel panel-default">
  <div class="panel-heading">
    <span> Option {{ index + 1 }}</span>
    <span class="glyphicon glyphicon-remove pull-right" 
          (click)="removed.emit()">
    </span>
  </div>

  <div class="panel-body">
    <div [formGroup]="optionGroup">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control"
                formControlName="name">
        <label>Key</label>
        <input type="text" class="form-control"
                formControlName="key">
      </div>

    </div>
  </div>
</div>
