<div id="page-content"
     class="col-md-offset-3 col-md-9">
      <header class="app-header row">
        <div class="app-header--primary">
          <div class="app-header--context">

            <div class="app-header--breadcrumbs">
              <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
                <li>
                  <a [routerLink]="['/medical/medforms']">Medical Registry</a>
                </li>
                <li>
                  <a [routerLink]="['/medical/medforms/list']">Medical Forms List</a>
                </li>
                <li>
                    <a [routerLink]="['.']">
                      <strong>Update Form</strong>
                    </a>
                  </li>
              </ol>
            </div>
            <h1 class="app-header--heading">
              Forms
            </h1>
          </div>
        </div>
      </header>
      <br/> <br/>

      
      <div class="col-md-12 col-sm-12 col-xs-12 form-wrapper"> 
        <app-pcariform-manage
          [method]="'UPDATE'"
          [withconsent]="false"
          [registryTypes]="registryTypes"
          [departments]="departments"
          [organizations]="organizations"
          [form]="for_update"
          [is_created]="is_updated"
          [is_processing]="is_processing"
          (onSubmitTrigger)="onSubmitTrigger($event)">
        </app-pcariform-manage>
      </div><!-- col-md-12 -->
</div>
<!--end of page-content-->
