<div id="page-content"
     class="col-md-offset-3 col-md-9">
  <header class="app-header row">
    <div class="app-header--primary">
      
      <div class="app-header--context">
        <div class="app-header--breadcrumbs">
          <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
            <li>
              <a [routerLink]="['./']">Biobanking Registry</a>
            </li>
          </ol>
        </div>
        <h1 class="app-header--heading">
          Forms
        </h1>
        </div>
      </div>  
    <div class="app-header--secondary">
    </div>
  </header>



  <div class="col-md-12 col-sm-12 col-xs-12">
    <dynamic-form></dynamic-form>
  </div>
</div>
