
<div class="col-md-12 table-nav">
  <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left top_search">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
  <!--<a [routerLink]="['/biobanking/questions/create']"-->
  <a [routerLink]="[create_url]"
      class="btn btn-default pull-right">
    <i class="fa fa-plus"></i> &nbsp; Create Form 
  </a>
</div>

<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Form Name</th>
        <!-- <th>Type</th> -->
        <th>Department</th>
        <th>Consent Validity</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let form of _forms; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td> {{ form.name }}</td>
        <!-- <td>{{ form.type }}</td> -->
        <td>{{ form.department }}</td>
        <td>
          <span *ngIf='((_date_today | date: "MMM dd, yyyy")
            <= (form.validity_date | date: "MMM dd, yyyy"))'
            class="badge badge--success" #valid> Valid 
          </span>
          <span *ngIf='!((_date_today | date: "MMM dd, yyyy")
            <= (form.validity_date | date: "MMM dd, yyyy"))'
            class="badge badge--failed" #invalid> Invalid 
          </span>
        </td>
        <td>
          <span *ngIf="form.status ==='Pending'" class="badge badge--failed" #pending> {{form.status }}</span>
          <span *ngIf="form.status ==='Approved'" class="badge badge--success" #active> {{form.status }}</span>
        </td>
        <td style="text-align: right">
          <button 
              [routerLink]="[update_url,form.id]" 
              class="btn btn-sm btn-warning">
            <i class="fa fa-edit"></i> &nbsp; Update 
          </button>
        </td>
        <!--<td style="text-align: center">
          <button 
          class="btn btn-sm btn-success"
          [routerLink]="['/biobanking/forms/update',form.id]">
          <i class="fa fa-plus"></i> &nbsp; Update</button>
        </td>-->
      </tr>
    </tbody>
  </table>
</div>