<div id="page-content"
     class="col-md-offset-3 col-md-9">
      <header class="app-header row">
        <div class="app-header--primary">
          <div class="app-header--context">

            <div class="app-header--breadcrumbs">
              <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
                <li>
                  <a [routerLink]="['/medical/medforms']">Medical Registry</a>
                </li>
                <li>
                  <a [routerLink]="['/medical/medforms/list']">Medical Forms List</a>
                </li>
                <li *ngIf="origin == 'CREATE'">
                    <a [routerLink]="['/medical/medforms/create']">Create New</a>
                </li>
                <li *ngIf="origin == 'UPDATE'">
                    <a [routerLink]="['/medical/medforms/update']">Update</a>
                </li>
                <li>
                    <a [routerLink]="['.']">
                      <strong>Preview</strong>
                    </a>
                  </li>
              </ol>
            </div>
            <h1 class="app-header--heading">
              Forms
            </h1>
          </div>
        </div>
      </header>

      <br/> 
      <div class="row">
        <div class="col-sm-3">
            <a class="btn btn-default"
            *ngIf="origin == 'CREATE'"
            [routerLink]="['/medical/medforms/create']">
            <i class="fa fa-chevron-left"></i> Back to Create
          </a>
          <a class="btn btn-default"
            *ngIf="origin == 'UPDATE'"
            [routerLink]="['/medical/medforms/update']">
            <i class="fa fa-chevron-left"></i> Back to Update
          </a>
        </div>
        <div class="col-sm-9"></div>
      </div>
      
      <div class="col-md-12 col-sm-12 col-xs-12">
        <br/> <br/>
        <div *ngIf="caseform">
          <div class="row">
            <app-dynamic-form
              [method]="'VIEW'"
              [answers]="answers"
              [caseid]="caseid"
              [casenumber]="casenumber"
              [formanswerid]="form_answer_id"
              [inquestionz]="caseform?.sections" 
              [insectionz]="caseform?.sections" >
            </app-dynamic-form>
          </div>
        </div>
      </div>
</div>
<!--end of page-content-->
