<div id="page-content"
     class="col-md-offset-3 col-md-9">

     <header class="app-header row">
      <div class="app-header--primary">
        <div class="app-header--context">
          <div class="app-header--breadcrumbs">
            <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
              <li>
                <a [routerLink]="['/biobanking/cases']">Biobanking Registry</a>
              </li>
              <li>
                <a [routerLink]="['/biobanking/cases/list']">Biobank Cases List</a>
              </li>
              <li>
                <a [routerLink]="['/biobanking/cases/view']">
                  <strong>View</strong>
                </a>
              </li>
            </ol>
          </div>
          <h1 class="app-header--heading">
            Cases 
          </h1>
        </div>
      </div> <!-- app-header--primary -->  
      <div class="app-header--secondary">
      </div>
    </header>

    <div class="row" id="page-body">
        <app-pcaricase-manage 
        [case]="case" 
        [forms]="forms"
        [update_url]="'/biobanking/cases/update/'"
        [view_url]="'/biobanking/cases/view/'"
        [method]="'VIEW'"
        [case_searchable]="true"
        [medcases]="medcases">
      </app-pcaricase-manage>
    </div> <!-- page-body -->
    
</div>  <!-- page-content -->