<div id="page-content"
     class="col-md-offset-3 col-md-9">

  <header class="app-header row">
    <div class="app-header--primary row">
      
      <div class="app-header--context col-md-12">
	<div class="app-header--breadcrumbs col-md-12">
	  <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
	    <li>
	      <a [routerLink]="['./']">My Account</a>
	    </li>
	  </ol>
	</div>
	<h1 class="app-header--heading col-md-12"
	    style="margin-top: 5px; !important">
	  My Information
	</h1>
      </div>
    </div>

    
    <div class="app-header--secondary">
    </div>
  </header>


  <div class="row" id="page-body">
    <shared-user-form
      [user]="user"
      [method]="'MYACCOUNT'">
    </shared-user-form>
  </div> <!-- page-body -->
  
</div> <!-- page-content -->
