<div id="page-content"
     class="col-md-offset-3 col-md-9">
      <header class="app-header row">
        <div class="app-header--primary">
          <div class="app-header--context">

            <div class="app-header--breadcrumbs">
              <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
                <li>
                  <a [routerLink]="['/biobanking/forms']">Biobanking Registry</a>
                </li>
                <li>
                  <a [routerLink]="['/biobanking/forms/list']">Forms List</a>
                </li>
                <li>
                  <a [routerLink]="['/biobanking/forms/create']">Create</a>
                </li>
              </ol>
            </div>
            <h1 class="app-header--heading">
              Forms
            </h1>
          </div>
        </div>
      </header>
      <br/> <br/>

      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <div class="row">
          <div class="col-sm-3"> 
              <!--<div class="side-section" >
              </div>-->
          </div>


          <!--start templateForm-->
          <form [formGroup]="templateForm">
            <div class="row">
              <div class="col-sm-10" style="background: eal" > 
                 <div class="form-group">
                    <!--<label>Id</label>-->
                    <input type="hidden" class="form-control"
                           placeholder="id"
                           formControlName="id">
                    <!--<label>Label</label>-->
                    <input type="text" class="form-control"
                           placeholder="name"
                           formControlName="name">
                    <small>Form Name</small>
                 </div>
               </div>
               <br/>
            </div>

            <div class="row">
              <div class="col-sm-10" style="background: eal" > 
                <form-section-array
                  [parentForm]="templateForm"
                  [sections]="data?.sections" > 
                </form-section-array>
              </div>
              <div class="col-sm-1" style="background: eal" > 

                <div class="col-sm-1" >
                  <div class="row">
                    <div class="sidebar">
                      <ul class="nav nav-sidebar form-side-editor-main" style="">
                        <li title="Add Section" 
                            class="form-side-editor-fxn" 
                            (click)="onAddSection()">
                            <a [routerLink]="['.']">
                              <i class="fa fa-3x fa-plus-circle"></i>
                            </a>
                        </li>
                        <li title="Preview Template" class="form-side-editor-fxn" >
                          <a  [routerLink]="['../../preview',0]">
                            <i class="fa fa-3x fa-eye"></i>
                          </a>
                        </li>
                        <!--<li class="form-side-editor-fxn" 
                            (click)="onSaveClick(questionFormGroup.value.secretLairs)">-->
                        <li title="Save Template" 
                            class="form-side-editor-fxn" 
                            (click)="onSaveForm(templateForm.value)">
                            <a  [routerLink]="['.']">
                              <i class="fa fa-3x fa-save"></i>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
              </div> 
              <!-- end section -->



              </div>
            </div>
          </form>
          <!--end templateForm-->






        </div>
      </div>
</div>
