.side-section {
    position: fixed;
    top: 9%;
    bottom: 0;
    border-right-color: #ccc;
    border-right-style: solid;
    border-right-width: thin;
    min-width: 15%;
    /*left: 0px;*/
    z-index: 800;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 16px;
    /*background-color: #F8EEE7;*/
}
