<div id="page-content"
     class="col-md-offset-3 col-md-9">
      <header class="app-header row">
        <div class="app-header--primary">
          <div class="app-header--context">

            <div class="app-header--breadcrumbs">
              <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
                <li>
                  <a [routerLink]="['/biobanking/forms']">Biobanking Registry</a>
                </li>
                <li>
                  <a [routerLink]="['/biobanking/forms/list']">Forms List</a>
                </li>
                <li>
                  <a [routerLink]="['/biobanking/forms/create']">Create</a>
                </li>
              </ol>
            </div>
            <h1 class="app-header--heading">
              Forms
            </h1>
          </div>
        </div>
      </header>
      <br/> <br/>

      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <div class="row">
          <div class="col-sm-3"> 
              <div class="side-section" >
                <question-section [selectedSection]="sections"
                                  (selectedQuestions)="onSelectQuestion($event)" ></question-section>
              </div>
          </div>
          <div class="col-sm-9" style="background: eal" > 
            <question-detail [inputSelectedQuestions]="questions"> </question-detail>
          </div>
        </div>
      </div>
</div>
