<div id="page-content"
     class="col-md-offset-3 col-md-9">
      <header class="app-header row">
        <div class="app-header--primary">
          <div class="app-header--context">

            <div class="app-header--breadcrumbs">
              <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
                <li>
                  <a [routerLink]="['/medical/forms']">Medical Registry</a>
                </li>
                <li>
                  <a [routerLink]="['/medical/forms/list']">Forms List</a>
                </li>
                <li>
                    <a [routerLink]="['.']">
                      <strong>Create New</strong>
                    </a>
                  </li>
              </ol>
            </div>
            <h1 class="app-header--heading">
              Forms
            </h1>
          </div>
        </div>
      </header>
      <br/> <br/>

      <div class="col-md-12 col-sm-12 col-xs-12 form-wrapper"> 
        <div class="form-editor-body">
          <!--start templateForm-->
          <form *ngIf="templateForm" [formGroup]="templateForm">
            <div class="row">
              <div class="col-sm-10" > 
                 <div class="">

                    <input type="hidden" class="form-control"
                           placeholder="id"
                           formControlName="id">
                   <div class="material-form-group">
                     <mat-form-field class="material-form-control">
                          <input matInput 
                                 placeholder="Template Names"
                                 formControlName="name"
                                 (change)="onChange($event)">
                     </mat-form-field>
                     <mat-form-field class="material-form-control" *ngIf="registryTypes">
                        <mat-select placeholder="Registry Type"
                                    formControlName="type" >
                          <mat-option *ngFor="let type of registryTypes"
                                      [id]="type.name" 
                                      [value]="type.name">{{type.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                   <div class="material-form-group">
                      <mat-form-field class="material-form-control" *ngIf="organizations" >
                        <mat-select placeholder="Organization"
                                    formControlName="organization" >
                          <mat-option *ngFor="let org of organizations"
                                      [id]="org.key" 
                                      [value]="org.name">{{org.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="material-form-control" *ngIf="departments" >
                        <mat-select placeholder="Department"
                                    formControlName="department" >
                          <mat-option *ngFor="let dept of departments"
                                      [id]="dept.key" 
                                      [value]="dept.name">{{dept.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                     </div>

                 </div>
               </div>
               <br/>
            </div>

            <div class="row">
              <div class="col-sm-10"> 
                <form-section-array
                  [parentForm]="templateForm"
                  [sections]="data?.sections" 
                  [viewState]="'create'" > 
                </form-section-array>
              </div>

              <!--start section-->
              <div class="col-sm-1"  > 
                <div class="col-sm-1" >
                  <div class="row">
                    <div class="sidebar">
                      <ul class="nav nav-sidebar form-side-editor-main" style="">
                        <li title="Add Section" 
                            class="form-side-editor-fxn" 
                            (click)="onAddSection()">
                            <a matTooltip="Add Section"
                               *ngIf="!is_created"
                               [routerLink]="['.']">
                              <i class="fa fa-3x fa-plus-circle"></i>
                            </a>
                        </li>
                        <li title="Preview Template" 
                            class="form-side-editor-fxn" 
                            (click)="onPreviewForm(templateForm.value,formId)" >
                          <!--<a  [routerLink]="['../../preview',formId]" >
                            <i class="fa fa-3x fa-plus"></i>
                          </a>-->
                          <a matTooltip="Preview Form"
                             [routerLink]="['.']">
                            <i class="fa fa-3x fa-eye"></i>
                          </a>
                        </li>
                        <li class="form-side-editor-fxn" 
                            (click)="onSaveForm(templateForm.value)" >
                            <a matTooltip="Save Form"
                            *ngIf="!is_created"
                              [routerLink]="['.']">
                              <i class="fa fa-3x fa-save"></i>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
              </div> 
              <!-- end section -->
              </div>
            </div>
          </form>
          <!--end templateForm-->
      </div>
      <!--end of row-->
    </div>
    <!--end of form-editor-body-->
</div>
<!--end of page-content-->
