<h2>Section</h2>
<div class="row">
  <div class="sidebar">
    <ul class="nav nav-sidebar" style="" class="row">
        <li *ngFor="let section of sections; let i = index;">
          <a (click)="onSelectSection(i)" >{{section.name}}</a>

          <a class="delete" 
                  (click)="onEditSection(section.key);
                  $event.stopPropagation()">
                  <i class="fa fa-2x fa-pencil"></i></a>
          <a class="edit" 
                  (click)="onDeleteSection(section.key);
                  $event.stopPropagation()"> 
                  <i class="fa fa-2x fa-trash-o"></i></a>

        </li>
    </ul>
    <span>
        <br/>
        <input placeholder="Untitled section" value="Untitled section" 
               #sectionName>
        <button (click)="onAddSection(sectionName.value);
        sectionName.value='Untitled section'">Add</button>
    </span>
  </div>
</div>
