<!--Old template-->
<!--<div class="panel panel-default">
  <div class="panel-heading">
    <span> Section Array</span>
  </div>
  <div class="panel-body">
    <div [formGroup]="parentForm">
      <div formArrayName="sections">
        <form-section *ngFor="let section of sections; let i = index;"
           [formArray]="parentForm.controls.sections" 
           [section]="section" 
           (removed)="removeSection(i)" >
        </form-section>
      </div>
      <div class="row">
         <button class="btn btn-primary" (click)="addSection()">
           Add Section+
         </button>
      </div>
    </div>
  </div>
</div>-->
<!--end Old template-->

<div class="" >
  <div class="">
    <div [formGroup]="parentForm">
      <div formArrayName="sections">
        <div *ngFor="let section of sections; let i = index;">
          <div *ngIf="viewState=='create'">
            <form-section
               [formArray]="parentForm.controls.sections" 
               [section]="section" 
               [viewState]="viewState"  
               (removed)="removeSection(i)" >
            </form-section>
          </div>
        <div>
      </div>
    </div>
  </div>
</div>
