<div id="side_menu"
     class="col-md-3">
  <div class="row">
    <div class="col-md-12">
      <app-medical-menu-title></app-medical-menu-title>
    </div>
  </div>

  <div class="row">
    <div class="sidebar">
      <ul class="nav nav-sidebar" style="">
        <li routerLinkActive="active">
          <a  [routerLink]="['./medforms']">
						<i class="fa fa-clone e2e-medical-form"></i>Forms</a>
        </li>
        <li routerLinkActive="active">
          <a  [routerLink]="['./cases']">
						<i class="fa fa-stethoscope e2e-medical-case"></i>&nbsp;Cases</a>
        </li> 
        <li routerLinkActive="active">
          <a  [routerLink]="['./reports']">
						<i class="fa fa-area-chart e2e-medical-report"></i>Reports</a>
        </li> 
      </ul>
    </div>
  </div> <!-- row -->
</div>
