#side_menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0px;
    z-index: 800;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 80px;
    padding-right: 15px;
    padding-top: 16px;
    background-color: #F8EEE7;
}

#side_menu .sidebar {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
}
#side_menu .sidebar li.active > a{
    color: #C69248;
    background-color: rgba(9, 30, 66, 0.04);
    font-weight: bolder;
}

#side_menu .sidebar li > a > i{
    font-size: 18px;
    padding-right: 15px;
    padding-left: 15px;
    min-width: 20px;
}
