<div id="side_menu"
     class="col-md-3">
  <div class="row">
    <div class="col-md-12">

      <div id="side_menu-title">
	<a aria-disabled="false"
	   href="#" role="menuitem">
	  <span class="hUKbS">
	    <div class="bOUELZ">
	      <div class="wtrXs">
		<div class="eXAevj">
		  <span class="iQFpEi">
		    <span aria-label="Allied World Healthcare" class="dsxBCn"
			  role="img"
			  title="Administration">
		      <i class="fa fa-heartbeat"></i>
		    </span>
		  </span>
		</div>
	      </div>
	    </div>
	  </span>
	  <span class="cYQurp">
	    <span class="icVecj">
	      <span class="bgdPDV">
		Medical Registry
	      </span>
	    </span>
	  </span>
	</a>
      </div>

      
    </div>
  </div>

  <div class="row">
    <div class="sidebar">
      <ul class="nav nav-sidebar" style="">
	<li routerLinkActive="active">
	  <a  [routerLink]="['./users']">
	    <i class="fa fa-stethoscope"></i>
	    Cases
	  </a>
	</li>
	<li routerLinkActive="active"  class="active">
	  <a  [routerLink]="['./roles']">
	    <i class="fa fa-area-chart"></i>
	    Reports
	  </a>
	</li>
	<li routerLinkActive="active">
	  <a  [routerLink]="['./roles']">
	    <i class="fa fa-clone"></i>
	    Forms
	  </a>
	</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>



















<div id="page-content"
     class="col-md-offset-3 col-md-9">
  <header class="app-header row">
    <div class="app-header--primary">
      
      <div class="app-header--context">
	<div class="app-header--breadcrumbs">
	  <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
	    <li>
	      <a [routerLink]="['./']">Medical Registry</a>
	    </li>
	  </ol>
	</div>
	<h1 class="app-header--heading">
	  Reports
	</h1>
      </div>
    </div>  
    <div class="app-header--secondary">
    </div>
  </header>

</div>
