
<div [formGroup]="form">
  <div [ngSwitch]="question.controlType">
    <div *ngSwitchCase="'textbox'" class="form-group">
      <label class="question-label col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-12" 
             [attr.for]="question.key">{{question.label}}
              <!--<span *ngIf="question.required" class="required">*</span>-->
              <span *ngIf="!isValid" class="required">*</span>
      </label>
      <div class="col-md-5 col-sm-5 col-xs-12">
        <mat-form-field class="material-input-full-width">
          <input matInput 
                 [formControlName]="question.key"
                 [id]="question.key" 
                 [type]="question.type"
                  placeholder="enter answer" value="">
        </mat-form-field>

        <!--<input type="text" class="form-control"
               [formControlName]="question.key"
               [id]="question.key" 
               [type]="question.type">-->
      </div>
      <div class="clearfix"></div>
    </div>


    <div *ngSwitchCase="'dropdown'" class="form-group">
      <label class="control-label question-label col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-12" 
	     [attr.for]="question.key">{{question.label}}
              <span *ngIf="!isValid" class="required">*</span>
        </label>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <mat-select placeholder="select an option"
                        class="material-input-full-width"
                       [formControlName]="question.key" >
              <mat-option *ngFor="let opt of question.options"
                  class="pull-left material-input-full-width"
                  [id]="opt.key" 
                  [value]="opt.value">{{opt.value}}
              </mat-option>
            </mat-select>
          <!--<select class="select2_group form-control"
                  [formControlName]="question.key" >
            <option *ngFor="let opt of question.options" 
                  [id]="question.key" 
                  [value]="opt.value">{{opt.value}}</option>
          </select>-->
        </div>
      <div class="clearfix"></div>
    </div>


    <div *ngSwitchCase="'checkbox'" class="form-group">

      <label class="control-label question-label col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-12" 
	     [attr.for]="question.key">{{question.label}}
              <span *ngIf="!isValid" class="required">*</span>
      </label>
        <div class="col-md-5 col-sm-5 col-xs-12">
          <div *ngFor="let opt of question.options" 
             class="select2_group form_control checkbox material-section" >
            <mat-checkbox 
                    [formControlName]="question.key"
                    value="{{opt.value}}"
                    id="{{opt.key}}" 
                    class="material-checkbox-margin"> {{opt.value}}
            </mat-checkbox>
            <!--<input type="checkbox" 
                   [id]="question.key" 
                   [formControlName]="question.key"
                   [value]="opt.value"> {{opt.value}}-->
          </div>
        </div>
      <div class="clearfix"></div>
    </div>


    <div *ngSwitchCase="'radiobutton'" class="form-group">
      <label class="control-label question-label col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-12" 
             [attr.for]="question.key">{{question.label}}
              <span *ngIf="!isValid" class="required">*</span>
      </label>
        <div class="col-md-5 col-sm-5 col-xs-12">
         <mat-radio-group class="material-radio-group"
                   [formControlName]="question.key" >
          <div *ngFor="let opt of question.options"   >
                <mat-radio-button class="material-radio-button"
                   id="{{opt.key}}" 
                   value="{{opt.value}}"> {{opt.value}} 
                </mat-radio-button>

                <!--testing-->
                <!--<mat-radio-button class="material-radio-button"
                   id="1" 
                   value="foo"> foo
                </mat-radio-button>
                <mat-radio-button class="material-radio-button"
                   id="2" 
                   value="bar">bar 
                </mat-radio-button>-->

            <!--<input type="radio" 
                   [formControlName]="question.key"
                   [id]="opt.index" 
                   [value]="opt.value"> {{opt.value}}-->
          </div>
         </mat-radio-group>
        </div>
      <div class="clearfix"></div>
    </div>

    <div *ngSwitchCase="'datepicker'" class="form-group">
      <label class="control-label question-label col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-12" 
       [attr.for]="question.key">{{question.label}}
              <span *ngIf="!isValid" class="required">*</span>
      </label>

        <div class="col-md-5 col-sm-5 col-xs-12">
          <mat-form-field class="material-input-full-width">
            <input [formControlName]="question.key" matInput [matDatepicker]="i" placeholder="choose a date">
            <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
            <mat-datepicker #i></mat-datepicker>
          </mat-form-field>

          <!--<date-picker class=""
                 [formControlName]="question.key"
                 [showClearButton]="false"
                 [id]="question.key" ></date-picker>-->
        </div>
      <div class="clearfix"></div>
    </div>

    <div *ngSwitchCase="'textarea'" class="form-group">
      <label class="control-label question-label col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-12" 
             [attr.for]="question.key">{{question.label}}
             <span *ngIf="!isValid" class="required">*</span>
      </label>
          <div class="col-md-5 col-sm-5 col-xs-12">
            <mat-form-field class="material-input-full-width">
              <textarea matInput 
                     [formControlName]="question.key"
                     [id]="question.key" 
                     [type]="question.type"
                      placeholder="enter answer" value="">
              </textarea>
            </mat-form-field>
            <!--<textarea class="form-control"
                   [formControlName]="question.key"
                    [id]="question.key" ></textarea>-->
          </div>
      <div class="clearfix"></div>
    </div>


  </div><!-- ngSwitch -->



  <!--<div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>-->
</div>
