.material-section {
  dislay: flex; 
  align-content: center; 
  align-items: center; 
}
.material-checkbox-margin {
 margin: 0 10px;
}

.material-radio-group {
  display: inline-flex;
  flex-direction: column;
  margin-left: 10px;
}

.material-radio-button {
  margin: 0px;
}

.material-radio-selected-value {
  margin: 15px 0;
}

.material-form-group{
  width: 100%
}
.material-form-control {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 350px;
}
.material-input-full-width {
  width: 100%;
}
.material-question-label {
  margin-top: 20px;
  margin-bottom: 5px;
}


