.material-section {
  dislay: flex; 
  align-content: center; 
  align-items: center; 
  height: 60px;
}
.material-checkbox-margin {
 margin: 0 10px;
}

.material-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.material-radio-button {
  margin: 5px;
}

.material-radio-selected-value {
  margin: 15px 0;
}

