<div id="page-content"
     class="col-md-offset-3 col-md-9">

     <header class="app-header row">
      <div class="app-header--primary">
        <div class="app-header--context">
          <div class="app-header--breadcrumbs">
            <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
              <li>
                <a [routerLink]="['/medical/cases']">Medical Registry</a>
              </li>
              <li>
                <a [routerLink]="['/medical/cases/list']">Cases List</a>
              </li>
              <li>
                <a [routerLink]="['/medical/cases/update']">Update</a>
              </li>
            </ol>
          </div>
          <h1 class="app-header--heading">
            Cases 
          </h1>
        </div>
      </div> <!-- app-header--primary -->  
      <div class="app-header--secondary">
      </div>
    </header>

    <div class="row" id="page-body">
        <app-pcaricase-manage 
        [case]="case" 
        [forms]="forms"
        [update_url]="'/medical/cases/update/'"
        [view_url]="'/medical/cases/view/'"
        [method]="'UPDATE'"
        [case_searchable]="false"
        [medcases]="[]"
        (onSubmitCaseTrigger)="onSubmitCase($event)">
      </app-pcaricase-manage>
    </div> <!-- page-body -->
    
</div>  <!-- page-content -->