<div class="panel panel-default">
  <div class="panel-heading">
    <span> Qusetion Array</span>
  </div>
  <div class="panel-body">

    <div [formGroup]="parentForm">
      <div formArrayName="questions">
        <question-content *ngFor="let question of questions; let i = index;"
           [formArray]="parentForm.controls.questions"
           [question]="question" 
           (removed)="removeQuestion(i)" 
           >
        </question-content>
      </div>

      <div class="row">
         <button class="btn btn-primary" (click)="addQuestion()">
           Add Question+
         </button>
      </div>
    </div>

  </div>
</div>
