<div [formGroup]="optionGroup">
  <div class="row">
    <span class="option_icon" >
      <i *ngIf="optionType =='dropdown'"
          class="fa fa-2x fa-chevron-circle-down" > </i>
      <i *ngIf="optionType =='checkbox'"
         class="fa fa-2x fa-check-square-o" ></i>
      <i *ngIf="optionType =='radiobutton'"
         class="fa fa-2x fa-circle-o" ></i>
    </span>
    <span class="col-sm-10" >
       <div class="material-form-group">
         <mat-form-field class="col-md-12">
              <input matInput 
                     placeholder="Options"
                     formControlName="name">
          </mat-form-field>
       </div>
      <input type="hidden" class="form-control"
             formControlName="key">
    </span>
    <span class="col-sm-1" >
      <span matTooltip="Delete Option"
            (click)="removed.emit()"> 
        <mat-icon class="material-option-clear-btn">clear</mat-icon>
      </span>
    </span>
  </div>
</div>
