  <form *ngIf="form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()" 
        style="margin-top: 20px;">

    <div class="form-group">
      <label class="question-label col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-12" 
             for="case">Case Number </label>

        <div class="col-md-5 col-sm-5 col-xs-12">
          <input type="text" class="form-control" type="text" (change)="onChange($event)">
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-group">
      <label class="question-label col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-12" 
             for="case">Consents</label>

        <div class="col-md-5 col-sm-5 col-xs-12">
          <input type="text" class="form-control" type="text">
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="ln_solid"></div>
    
      <div class="col-md-12 col-sm-12 col-xs-12 form-wrapper"> 
        <div class="form-editor-body">
          <div class="col-sm-12"> 
            <!--insert form Array here-->
            <div *ngFor="let sections of formArrayTest.controls">
              <div class="row">
                <span class="pull-left">
                  <h3>{{sections.get('name').value}}</h3> 
                </span>
              </div>

              <div class="row">
                <div *ngFor="let questions of sections.get('questionsType').controls">
                      <df-question [question]="questions.value" [form]="form"></df-question>
                </div>
              </div>

            </div>
            <!--end formarray-->

          </div>
        </div>
      </div>


    <div class="form-row col-sm-12 pull-right">
      <button mat-raised-button color="primary"
              [disabled]="!form.valid" class="btn btn-success pull-right"
              (click)="onSubmit()">
          Save Form
      </button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <!-- {{form.valid}} -->
    <!-- <strong>Saved the following values</strong><br>{{payLoad}} -->
  </div>
