  <form *ngIf="form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()" >

    <div class="col-md-12 col-sm-12 col-xs-12 form-wrapper"
      style="margin-bottom: 20px;"> 
        <div class="row section-title">
            <span class="pull-left">
              <h4>Case Details</h4> 
            </span>
          </div>
    </div>

    <div class="form-group">
      <label class="question-label col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-4 col-xs-12" 
             for="case">Case Number </label>

        <div class="col-md-5 col-sm-5 col-xs-12">
          <input type="text" class="form-control" 
            disabled
            type="text" 
            [value]="casenumber">
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-group">
      <label class="question-label col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-4 col-xs-12" 
             for="case">Consents</label>

        
        <div class="col-md-5 col-sm-5 col-xs-12">
          <mat-select placeholder="Select your option"
            class="material-input-full-width">
            <mat-option *ngFor="let opt of consents"
                class="pull-left material-input-full-width"
                [value]="opt.id">{{opt.name}}
            </mat-option>
          </mat-select>
        </div>
       
        <div class="clearfix"></div>
    </div>

    
    
      <div class="col-md-12 col-sm-12 col-xs-12 form-wrapper"> 
        <div class="form-editor-body">
          <div class="col-sm-12" style="padding-left: 0; padding-right: 0;"> 
            <!--insert form Array here-->
            <div *ngFor="let sections of formArrayTest.controls">
              <div class="row section-title">
                <span class="pull-left">
                  <h4>{{sections.get('name').value}}</h4> 
                </span>
              </div>

              <div class="row">
                <div *ngFor="let questions of sections.get('questionsType').controls">
                      <df-question [question]="questions.value" [form]="form"></df-question>
                </div>
              </div>

            </div>
            <!--end formarray-->

          </div>
        </div>
      </div>


    <div class="form-row col-sm-12 pull-right"
      *ngIf="method !== 'VIEW'">
      {{form.valid}}
      <button mat-raised-button color="primary"
              [disabled]="!form.valid" class="btn btn-success pull-right"
              (click)="onSubmit()">
          Save Form
      </button>
    </div>

  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
