<div [formGroup]="form">
  <div [ngSwitch]="question.controlType">
    <div class="">
      <label class="material-question-label 
             col-md-offset-2
             col-sm-offset-2
             col-md-10 col-sm-10 col-xs-10" 
             [attr.for]="question.key">{{question.label}}
              <!--<span *ngIf="question.required" class="required">*</span>-->
              <span *ngIf="!isValid" class="required">*</span>
      </label>

    <div class="col-md-8 col-sm-8 col-xs-8
                col-md-offset-4
                col-sm-offset-4">
      <div *ngSwitchCase="'textbox'" class="">
          <mat-form-field class="material-input-full-width">
            <input matInput 
                   [formControlName]="question.key"
                   [type]="question.type"
                    placeholder="Type your answer">
          </mat-form-field>
        </div>
        <div class="clearfix"></div>


      <div *ngSwitchCase="'dropdown'" class="">
          <mat-select placeholder="Select your option"
                      class="material-input-full-width"
                     [formControlName]="question.key" >
            <mat-option *ngFor="let opt of question.options"
                class="pull-left material-input-full-width"
                [value]="opt.value">{{opt.value}}
            </mat-option>
          </mat-select>
      </div>
      <div class="clearfix"></div>


      <div *ngSwitchCase="'checkbox'" class="">
        <mat-select placeholder="Select your option"
          class="material-input-full-width"
         [formControlName]="question.key" multiple>
          <mat-option *ngFor="let opt of question.options"
              class="pull-left material-input-full-width"
              [value]="opt.value">{{opt.value}}
          </mat-option>
        </mat-select> 
        
      </div>
      <div class="clearfix"></div>


      <div *ngSwitchCase="'radiobutton'" class="">
           <mat-radio-group class="material-radio-group"
                     [formControlName]="question.key" >
            <div *ngFor="let opt of question.options"   >
                  <mat-radio-button class=""
                     value="{{opt.value}}"> {{opt.value}} 
                  </mat-radio-button>
                  <!--<mat-radio-button class="material-radio-button"
                     id="2" 
                     value="bar">bar 
                  </mat-radio-button>-->

              <!--<input type="radio" 
                     [formControlName]="question.key"
                     [id]="opt.index" 
                     [value]="opt.value"> {{opt.value}}-->
            </div>
           </mat-radio-group>
      </div>
      <div class="clearfix"></div>

      <div *ngSwitchCase="'datepicker'" class="">
            <mat-form-field class="material-input-full-width">
              <input [formControlName]="question.key" 
                      matInput [matDatepicker]="i" 
                      placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
              <mat-datepicker #i></mat-datepicker>
            </mat-form-field>
      </div>
      <div class="clearfix"></div>

      <div *ngSwitchCase="'textarea'" class="">
          <mat-form-field class="material-input-full-width">
            <textarea matInput 
                   [formControlName]="question.key"
                   [type]="question.type"
                    placeholder="Type your answer">
            </textarea>
          </mat-form-field>
              <!--<textarea class="form-control"
                     [formControlName]="question.key"
                      [id]="question.key" ></textarea>-->
      </div>
      <div class="clearfix"></div>

    </div><!-- ngSwitch -->
  </div><!-- ngSwitch -->

  <!--<div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>-->
</div>
