<div id="side_menu-title">
  <a aria-disabled="false"
     href="#" role="menuitem">
    <span class="hUKbS">
      <div class="bOUELZ">
	<div class="wtrXs">
	  <div class="eXAevj">
	    <span class="iQFpEi">
	      <span aria-label="Allied World Healthcare" class="dsxBCn"
		    role="img"
		    title="Administration">
		<i class="fa fa-universal-access"></i>
	      </span>
	    </span>
	  </div>
	</div>
      </div>
    </span>
    <span class="cYQurp">
      <span class="icVecj">
	<span class="bgdPDV">
	  Administration
	</span>
      </span>
    </span>
  </a>
</div>
