<div id="page-content"
     class="col-md-offset-3 col-md-9">
  <header class="app-header row">
    <div class="app-header--primary">
      <div class="app-header--context">
        <div class="app-header--breadcrumbs">
          <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
            <li>
              <a [routerLink]="['/admin/consent']">Administration</a>
            </li>
            <li>
              <a [routerLink]="['/admin/consent/list']">Consent List</a>
            </li>
            <li>
              <a [routerLink]="['/admin/consent/create']">Create</a>
            </li>
          </ol>
        </div>
        <h1 class="app-header--heading">
          Consent 
        </h1>
      </div>
    </div>  
    <div class="app-header--secondary">
    </div>
  </header>

  <div class="row" id="">
    <app-consent-manage>
    </app-consent-manage>

  </div> <!-- page-body -->
</div> <!-- page-content -->
