<h1>
  consent-form-add works!
</h1>

<!-- Selected Forms  -->
<div class="col-md-12 col-sm-12 col-xs-12"           
    *ngIf="_show"> 
    <div class="x_panel">
      <div class="x_title">
        <h2 class="pull-left">Forms</h2>
        <div class="pull-right">
            <button mat-button
               (click)="onAddSelectedForm()" >
              <i class="fa fa-plus"></i> Add Selected
            </button>

            <button mat-button (click)="onCancelAddForm()">
              <i class="fa fa-window-close"></i> Cancel
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="example-container mat-elevation-z8">
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </div>
          
            <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="organization">
              <mat-header-cell *matHeaderCellDef> Organization </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.organization }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="select-cell">
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </mat-cell>    
            </ng-container>
            
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div> 
    </div>
</div>
